@import "vialer-js/lib/mixins";
@import "vialer-js/lib/variables";

.component-activity {
    width: 100%;

    .tabs-squeezed {
        margin: 0 $spacer * 9;
        margin-bottom: $spacer;
        margin-top: $spacer * 3;
    }

    .activity {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacer * 2;
        position: relative;

        .activity-icon {
            align-items: center;
            display: flex;
            justify-content: left;
            padding: $spacer;
            position: relative;
            width: $spacer * 6;
            z-index: 100;

            &::after {
                @include icon-size($spacer * 4);
                border-radius: 50%;
                content: "";
                left: 0;
                position: absolute;
                z-index: 10;
            }

            &.success {
                &::after {
                    background: $green-color;
                }
            }

            &.warning {
                &::after {
                    background: $red-color;
                }
            }

            svg {
                @include icon-size($spacer * 2);
                color: $white;
                z-index: 100;
            }
        }

        .activity-info {
            display: flex;
            flex: 1;
            flex-direction: column;
            // Required to have ellipsis text overflow on .name.
            min-width: 0;

            .name {
                color: $grey-color-darkest;
                font-weight: 500;
                margin-right: $spacer * 2;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .description {
                color: $grey-color;
                font-size: 0.8rem;
            }
        }

        .activity-label {
            align-items: center;
            display: flex;
            justify-content: left;

            span {
                background: $red-color;
                border-radius: $spacer * 2;
                color: $white;
                font-size: 0.7rem;
                font-weight: 500;
                padding: $spacer / 4 $spacer;
                text-transform: uppercase;
            }
        }
    }
}
