@import 'vialer-js/lib/variables';
@import 'vialer-js/lib/mixins';

.component-calls {
    // Push the soundmeter to the bottom.
    display: flex;
    flex-direction: column;

    .calls-container {
        display: flex;
        flex-direction: row;
    }

    &.call-ongoing {
        background: $white-tint-color-dark;
    }

    .disabled-placeholder {
        align-items: center;
        color: $grey-color-lighter;
        display: flex;
        flex-direction: column;
        margin-top: $spacer * 6;
        width: 100%;

        .disabled-icon {
            @include icon-size($spacer * 8);
            color: $grey-color-lighter;
        }

        .disabled-text {
            color: $red-color;
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: $spacer * 3;
            text-align: center;
            width: 100%;
        }

        .disabled-reason {
            color: $grey-color;
            font-style: italic;
            margin-bottom: $spacer * 2;
            margin-top: $spacer;
            text-align: center;
            width: 100%;
        }
    }

}
