@import "../../scss/lib/mixins";
@import "../../scss/lib/variables";

.component-mic-permission {

    .mic-popout-notice {
        font-size: 0.8rem;
        font-style: italic;
        margin-bottom: $spacer;
    }

    .mic-popout-instructions {
        position: relative;

        .video-cam {
            @include icon-size($spacer * 4);
            margin-bottom: $spacer;
            path[pid="0"] {fill: $primary-color;}
            path[pid="1"] {fill: $white-color;}
            rect[pid="2"] {fill: $red-color;}
        }

        .check {
            @include icon-size($spacer * 2.5);
            align-items: center;
            background: $green-color;
            border-radius: 50%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            margin-left: -$spacer * 2;
            margin-top: $spacer * 2;
            position: absolute;

            svg {
                @include icon-size($spacer * 1.5);
                fill: $white-color;
            }

        }
    }


}
