{
    "firefox": {
        "gecko": {
            "id": "",
             "strict_min_version": "55.0"
        },
        "apiKey": "",
        "apiSecret": ""
    },
    "chrome": {
        "extensionId": "",
        "clientId": "",
        "clientSecret": "",
        "refreshToken": ""
    }
}
