{
    "firefox": {
        "apiKey": "",
        "apiSecret": ""
    },
    "chrome": {
        "extensionId": "",
        "clientId": "",
        "clientSecret": "",
        "refreshToken": ""
    }
}
