use_nix

# emacsclient can't find the socket when these are not empty.
unset TMPDIR
unset TMP
unset TEMPDIR
unset TEMP

PATH_add node_modules/.bin

# replace broken optipng with nix version.
if optipng=$(which optipng); then
  mkdir -p node_modules/optipng-bin/vendor
  rm -f node_modules/.bin/optipng node_modules/optipng-bin/vendor/optipng
  ln -sf $optipng node_modules/optipng-bin/vendor/optipng
fi

export OVERRIDE_CHROMIUM_PATH=$(which chromium)
