use_nix
PATH_add node_modules/.bin

# replace broken optipng with nix version.
rm node_modules/.bin/optipng
mkdir -p node_modules/optipng-bin/vendor
ln -sf $(which optipng) node_modules/optipng-bin/vendor/optipng

export OVERRIDE_CHROMIUM_PATH=$(which chromium)
