use_nix

# emacsclient can't find the socket when these are not empty.
unset TMPDIR
unset TMP
unset TEMPDIR
unset TEMP

PATH_add node_modules/.bin

function replace {
  if file=$(which $1); then
    mkdir -p $(basename $2)
    rm -f node_modules/.bin/$1 $2
    ln -sf $file $2
  fi
}

replace optipng node_modules/optipng-bin/vendor/optipng
replace electron node_modules/electron/dist/electron

export OVERRIDE_CHROMIUM_PATH=$(which chromium)
