node_modules
build
dist
yarn-error.log
docs/screenshots
super_secret.txt
.tags
.publish
.vialer-jsrc
.directory
.direnv.*
src/brand/*
src/brand/bologna/icons/
!src/brand/bologna/
!src/brand/bologna/*.*
