{
    "brands": {
        "vialer": {
            "permissions": "https://partner.voipgrid.nl/",
            "sip_endpoint": "websocket.voipgrid.nl",
            "homepage_url": "https://wiki.voipgrid.nl/index.php/Browser_Plugins",
            "name": {
                "alpha": "Vialer-alpha",
                "beta": "Vialer-beta",
                "production": "Vialer"
            },
            "vendor": {
                "name": "Vialer",
                "portal": {
                    "name": "VoIPGRID portal",
                    "url": "https://partner.voipgrid.nl/"
                },
                "support": {
                    "email": "support@voipgrid.nl",
                    "phone": "1234567890"
                },
                "type": "closed"
            },
            "telemetry": {
                "analytics_id": {
                    "chrome": "",
                    "edge": "",
                    "electron": "",
                    "firefox": "",
                    "webview": ""
                },
                "sentry": {
                    "apiKey": "",
                    "dsn": "",
                    "host": "https://sentry.voipgrid.nl",
                    "org": "voipgrid",
                    "project": "vialer-js"
                }
            },
            "colors": {
                "brand-color": "#de6b35",
                "brand-variation-color": "#fb791e",
                "grey-color": "#999",
                "primary-color": "#3c3c50",
                "green-color": "#28ca42",
                "orange-color": "#f98644",
                "red-color": "#da534F"
            },
            "store": {
                "firefox": {
                    "gecko": {
                        "id_alpha": "",
                        "id_beta": "",
                        "id_production": "",
                         "strict_min_version": "50.0"
                    },
                    "apiKey": "",
                    "apiSecret": ""
                },
                "chrome": {
                    "extensionId_alpha": "",
                    "extensionId_beta": "",
                    "extensionId_production": "",
                    "clientId": "",
                    "clientSecret": "",
                    "refreshToken": ""
                }
            }
        }
    }
}
