// The popout is a full-page version of the popup that is shown
// in a separate tab when pressing the popout button in the
// popup.

// The popup suppresses vertical scroll, due to visual tear when
// opening the popup. The popout needs vertical scroll though.
.popup.popout {
    overflow-y: initial;
}

.popup.popout,
.popup.popout body {
    height: 100%;
}

.popup.popout body {
    width: auto;
    margin: 0 auto;

    .container {
        .account-info {
            .shortcuts {
                // Hide the popout button and the close button.
                .close-button,
                .popout-button {
                    display: none;
                }
            }
        }
    }

    //
    // // Hide the availability and queues widget.
    .widget.queues,
    .widget.availability {
        display: none;
    }

    .account-info {
        max-width: 400px;

        @media (max-width: $mini) {
            .user-name {
                display: none;
            }
        }
    }

    .widget.contacts {
        width: 100%;
        position: relative;

        .widget-header {
            max-width: 400px;
            border-right: 1px solid $vg-grey-lighter;
            border-bottom: 1px solid $vg-grey-lighter;

            // Remove the collapse icon.
            &::after {
                display: none;
            }

            @media (max-width: $widget) {
                border-right: 0;
                border-bottom: 0;
            }

            @media (max-width: $mini) {
                .status-indicators {
                    display: none;
                }

                .widget-header-text {
                    display: none;
                }
            }

            .search {
                padding-right: $vg-spacing-gap;
                // The search input vertical outlining is 1px off.
                @-moz-document url-prefix() {
                    margin-top: 1px;
                }
            }
        }

        .widget-content {
            margin-top: $vg-widget-header-size-small;
            border-bottom: 1px solid $vg-grey-lightest;
            border-top: 1px solid $vg-grey-lightest;
            @media (max-width: $widget) {
                margin-top: 0;
                border-top: 0;
            }

            .widget-item-list {
                max-height: initial;
                column-gap: 0;

                .widget-item {
                    border-bottom: 0;
                }

                @media (min-width: $fullhd) {
                    column-count: 5;
                }

                @media (min-width: $widescreen) and (max-width: $fullhd) {
                    column-count: 4;

                }

                @media (min-width: $desktop) and (max-width: $widescreen) {
                    column-count: 3;
                }

                @media (min-width: $mobile) and (max-width: $desktop) {
                    column-count: 2;
                }

                @media (max-width: $widget) {
                    column-count: 1;

                    .widget-header {
                        border-right: 0 !important;
                    }

                    .widget-item {
                        border-top: 1px solid $vg-grey-lighter;
                    }

                }
            }
        }

        .widget-item {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }
}
