@import "../base/form";
@import "widget";

.popup {
    overflow-y: hidden;
}

// The login container.
.login-section {
    padding: 10px;
    padding-bottom: 5px;
    line-height: 100%;
    max-width: $widget;
}

// The most upper box containing account info and
// icon-links to several locations.
.container .account-info {
    height: $vg-widget-header-size-small;
    border-bottom: 1px solid $vg-grey-lighter;

    [class^="icon-"], [class*=" icon-"]:hover {
        color: $vg-brand-color;
    }

    .logout-button,
    .user-name {
        display: inline-block;
        float: left;
        line-height: $vg-widget-header-size-small;
    }

    .user-name {
        // don't wrap but put dots at the end if it doesn't fit.
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: $vg-spacing-3;
        // Don't allow the email address to push the icons down.
        max-width: 200px;
    }

    .logout-button {
        width: $vg-widget-header-size-small;
        text-align: center;
        vertical-align: middle;
        font-size: 0.8rem;

        &:hover {
            cursor: pointer;
        }
    }

    // The icon links container at the right top of the popup.
    .shortcuts {
        float: right;
        font-size: 1rem;
        display: inline-block;
        height: $vg-widget-header-size-small;
        // Position the last icon in line with the rest.
        margin-right: $vg-spacing-gap - 2px;
        vertical-align: middle;

        i {
            display: inline-block;
            margin-left: $vg-spacing-1;
            line-height: $vg-widget-header-size-small;
        }
    }
}

.login-form,
.two-factor-form {
    label {
        font-weight: 500;
        display: block;
        margin-bottom: 4px;
    }

    button,
    input {
        width: 100%;
        margin-bottom: 7px;
    }

    .login-button,
    .two-factor-button {
        margin-top: 5px;

        i {
            position: absolute;
            line-height: 40px;
            left: $vg-spacing-gap;
            font-size: 1rem;
        }
    }
}

.flip-horizontal {
    transform: scaleX(-1);
}

// Different cursor for clickable stuff.
.shortcuts i,
.logout,
.widget .widget-header {
    cursor: pointer;
}


.unauthorized-warning {
    padding: 14px 10px 14px;
}

.telemetry-opt-in {
    text-align: center;

    h2 {
        color: #6c798d;
        padding-bottom: $vg-spacing-5;
        font-size: 24px;
        margin: 0;
        margin-top: $vg-spacing-6;
    }

    p {
        font-style: italic;
        font-size: 16px;
        text-align: center;
        margin: 0;
        padding-bottom: $vg-spacing-5;
    }

    .actions {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        margin-bottom: $vg-spacing-6;

        button {
            margin-right: $vg-spacing-1;
        }
    }


}
