.widget {

    &[data-opened="true"] {
        .widget-header {
            &::after {
                content: $icon-toggle-up;
            }
        }

        .widget-content {
            display: block;
        }
    }

    &[data-opened="false"] {
        .widget-header {
            &::after {
                content: $icon-toggle-down;
            }
        }

        .widget-content {
            display: none;
        }
    }

    .widget-header {
        @include vg-gradient;
        @include no-select;
        position: relative;
        height: $vg-widget-header-size;
        font-weight: 400;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        // Move the collapse icon to the right without disturbing the
        // float of other elements, like the contacts search input.
        &::after {
            position: absolute;
            right: $vg-spacing-gap;
            font-family: "click-to-dial";
            opacity: 0.3;
            line-height: $vg-widget-header-size;
        }

        i {
            font-size: 1rem;
        }

        // Contains the left widget icon and a status icon, like a busy icon.
        .widget-header-icons {
            display: inline-block;

            i {
                @include vg-widget-icon;

                // By default, hide widget state icons.
                &.unauthorized-icon,
                &.busy-icon {
                    display: none;
                }
            }
        }

        .widget-header-text {
            line-height: $vg-widget-header-size;
        }

        .status-indicators {
            position: relative;
            width: $vg-widget-header-size;
            text-align: center;

            i {
                font-size: 1rem;
                line-height: $vg-widget-header-size;
            }
        }
    }

    // Hide the widget icon, and replace it with the spinning busy icon.
    &.busy .widget-header .widget-header-icons {
        .widget-icon {display: none;}
        .busy-icon {display: inline-block;}
    }

    // Hide the content area of the widget when the
    // unauthorized class is added to the widget
    // main container.
    &.unauthorized {
        .widget-header .widget-header-icons {
            .widget-icon {
                display: none;
            }

            .unauthorized-icon {
                color: $vg-button-failed-text-color;
                display: inline-block;
            }
        }

        // Hide the main content.
        .widget-content {
            display: none;
        }

        // Show the warning why the user is unauthorized.
        .unauthorized-warning {
            display: block;
        }
    }
}


.widget-content {

    .form {
        padding: 2px 13px 14px;

        label {
            font-weight: 500;
        }
    }

    .form-inline .radio {
        display: inline-block;
    }

    // An empty item that is used to build new items from.
    template {
        display: none;
    }

    .widget-item-list {
        margin: 0;
        padding: 0;
        // Show a scrollbar after +/- 5 items.
        max-height: 210px;
        width: 100%;
        overflow-x: hidden;

        // No search results and empty item.
        &.empty,
        &.not-found {
            .widget-item {
                .icon i {
                    color: $vg-grey-lighter;
                }

                .info {
                    padding: 0;
                    line-height: $vg-widget-header-size;
                }
            }
        }

        // A standard widget item with an icon at the left, a name and
        // an optional description. This format is used by items for
        // the Colleagues and Queues widgets.
        .widget-item {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-bottom: 1px solid $vg-grey-lighter;

            // Default row list can be done with css.
            &:nth-child(even) {background: $vg-grey-lightest;}
            &:nth-child(odd) {background: #fff;}
            // A filtered row list's styling is enforced using css classes, because
            // `nth-child` doesn't skip nodes with display: none.
            &.odd {background: #fff;}
            &.even {background: $vg-grey-lightest;}

            &:hover {
                cursor: pointer;
            }

            &.empty {
                li {
                    cursor: auto;
                    overflow: hidden;
                }
            }

            // A selected item has a checked icon next to it.
            &.selected {
                &::after {
                    position: absolute;
                    line-height: $vg-widget-header-size;
                    right: 0;
                    color: $vg-state-available-color;
                    font-size: 1.2em;
                    font-family: "click-to-dial";
                    content: $icon-check;
                    margin-right: $vg-spacing-gap;
                }
            }

            &[disabled] {
                opacity: .6;

                &:hover {
                    cursor: pointer;
                }
            }

            .icon {
                @include vg-widget-icon;
            }

            .info {
                flex: 1;
                padding: 8px 0;
                // Without the 1px less height, the contact box
                // will overflow in mobile mode when limiting the
                // boxes using search on Firefox.
                height: $vg-widget-header-size;
                padding-right: $vg-spacing-4;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .name {
                    max-width: 200px;
                    font-weight: 500;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .description {
                    display: inline-block;
                    color: #9b9c9e;
                    font-weight: normal;
                }
            }
        }
    }
}
