@import "../../scss/lib/variables";

// The most upper box containing account info and
// icon-links to several locations.
.callswitcher-component {
    position: absolute;
    width: $spacer * 5;
    top: 0;
    right: 0;
    z-index: 100000;

    i {
        color: $white;
        width: $spacer * 5;
        text-align: center;
        line-height: $spacer * 5;
        height: $spacer * 5;

        &.new-call {
            color: $brand-color;
            background: rgba(255, 255, 255, 0.4);

            &.active {
                background: rgba(255, 255, 255, 0.4);
                color: $white;

                &:hover {
                    background: $red-color;
                }
            }
        }

        &:hover,
        &.active {
            color: $brand-variation-color;
            background: $white;
            cursor: pointer;
        }
    }

    // Just hide the ongoing call for now until we get a better idea.
    &.inactive i {
        background: $white;
        color: $white;
        cursor: default;
    }
}
