@import "../../scss/lib/variables";

// The most upper box containing account info and
// icon-links to several locations.
.callswitcher-component {
    position: absolute;
    width: $spacer * 5;
    top: $spacer * 5;
    right: 0;

    i {
        color: $white;
        width: $spacer * 5;
        line-height: $spacer * 5;
        height: $spacer * 5;

        &:hover,
        &.active {
            color: $brand-variation-color;
            background: $white;
            cursor: pointer;
        }
    }
}
