@import "../../scss/variables";

// The most upper box containing account info and
// icon-links to several locations.
.statusbar-component {
    background: $brand-tint-color;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    color: #fff;
    border-bottom: 1px solid grey-lighter;

    [class^="icon-"], [class*=" icon-"]:hover {
        color: $brand-color;
    }

    .user-name {
        // don't wrap but put dots at the end if it doesn't fit.
        white-space: nowrap;
        margin-left: $spacer * 2;

        i {
            line-height: 32px;
            margin-left: 8px;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            font-size: 0.9rem;

            &:hover {
                cursor: pointer;
            }
        }
    }


    // The icon links container at the right top of the popup.
    .options {
        display: flex;
        flex-direction: row-reverse;
        vertical-align: middle;
        font-size: 1.2rem;

        .option {
            margin-left: $spacer;
            line-height: 32px;
            height: 32px;
            padding: 0 4px;

            i {
                font-size: 16px;
                color: #fff;

                &:hover {
                    cursor: pointer;
                    background: $brand-color;

                }

                &.active {
                    color: $brand-color;
                }
            }
        }
    }
}
