@import "../../scss/lib/variables";

// The most upper box containing account info and
// icon-links to several locations.
.statusbar-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: $spacer * 5;
    background: $brand-variation-color;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-width: $max-popup-width;
    top: 0;


    &.call-active {
        background: $green-color;
    }

    [class^="icon-"], [class*=" icon-"]:hover {
        color: $brand-color;
    }

    .status-left {
        // Don't wrap but put dots at the end if it doesn't fit.
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .status-indicator {
            width: $spacer * 5;

            i {
                background: $brand-variation-color;
                width: $spacer * 5;
                height: $spacer * 5;
                margin: 0;
                line-height: $spacer * 4;
                font-size: 1.2rem;
                vertical-align: middle;
                text-align: center;
                transition: all 1300ms ease;
                color: #fff;
            }

            .disconnected {background: $red-color;}
            .connected {background: $green-color;}
            .registered {background: $green-color;}
            .registration-failed {background: $orange-color;}
        }

        .username {
            margin-left: $spacer;
        }

    }

    // The icon links container at the right top of the popup.
    .options {
        display: flex;
        flex-direction: row;
        vertical-align: middle;

        .option {
            line-height: $spacer * 5;
            height: $spacer * 5;
            padding: 0 $spacer;

            &.active,
            &:hover {
                cursor: pointer;
                background: #fff;

                i {
                    color: $brand-color;
                }
            }

            i {
                line-height: $spacer * 5;
                font-size: $spacer * 2;
                color: #fff;
            }
        }
    }

    .in-call-info {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    .call-info {
        margin-right: $spacer;
    }
}
