@import "../../scss/variables";
@import "../../scss/mixins";

.keypad-component {
    width: 100%;

    .number-input {

        color: $brand-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 10px;

        input {
            @include no-outline;
            border: 0;
            width: 100%;
            height: 60px;
            font-size: 2.5rem;
            font-weight: 500;
            text-align: center;
            padding: 0 50px;
            background: transparent;
            color: $brand-color;
        }

        i {
            font-size: 2rem;
            height: 60px;
            line-height: 60px;
            vertical-align: center;
            position: absolute;
            right: 30px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .keys {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        align-content: center;
        width: 100%;
        padding: 0 60px;

        .key {
            @include no-outline;
            width: 60px;
            height: 60px;
            margin-bottom: 10px;

            break-inside: avoid;
            font-size: 1rem;
            font-weight: bold;
            border: 2px solid $brand-color;
            background: #fff;
            color: $brand-color;


            border-radius: 100%;


            &:hover {
                cursor: pointer;
            }

            .sub {
                font-size: 0.7rem;
            }
        }
    }

    button {
        width: 100%;
    }

    .dial {
        color: $green-color;
        font-weight: bold;
        font-size: 3rem;

        &:hover {
            cursor: pointer;
        }
    }

    .actions {
        text-align: center;
        padding: 10px;
    }

}

a, a:visited {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
