@import "../../scss/lib/variables";
@import "../../scss/lib/mixins";

.keypad-component {
    width: 100%;
    margin-bottom: $spacer * 2;

    .dense-number-input {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: $spacer * 4;

        input {
            border: 1px solid #fff;
            border-top-left-radius: $spacer / 2;
            border-bottom-left-radius: $spacer / 2;
            background: none;
            font-size: 1.5rem;
            color: #fff;
            text-align: right;
            height: 40px;
            width: 200px;

            &::placeholder {
                color: #fff;
            }
        }

        i {
            background: #fff;
            color: $brand-variation-color;
            height: 40px;
            width: 40px;
            border: 1px solid #fff;
            border-top-right-radius: $spacer / 2;
            border-bottom-right-radius: $spacer / 2;

            &:hover {
                cursor: pointer;
            }
        }

    }

    .number-input {
        color: $brand-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: $spacer;

        input {
            @include no-outline;
            border: 0;
            width: 100%;
            height: 60px;
            font-size: 1.8rem;
            font-weight: 500;
            text-align: center;
            padding: 0 40px;
            background: transparent;
            color: $brand-color;
        }

        i {
            font-size: 1.8rem;
            height: 60px;
            line-height: 55px;
            vertical-align: center;
            position: absolute;
            right: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .keys {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;

        .row {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            padding-bottom: 5px;

            .key {
                @include no-outline;
                margin: 0 $spacer;
                height: 65px;
                width: 65px;

                border-radius: 100%;
                break-inside: avoid;

                font-size: 1rem;
                font-weight: bold;
                border: 2px solid $brand-color;
                background: #fff;
                color: $brand-color;

                &:hover {
                    cursor: pointer;
                    background: $brand-color;
                    color: #fff;
                }

                .sub {
                    font-size: 0.7rem;
                }
            }
        }
    }

    &.no-call {
        .number-input {
            input::placeholder {
                color: $grey-color-light;
            }
        }
    }

    // Override defaults when in call.
    &.call-active {
        .number-input {
            input::placeholder {
                color: lighten($brand-color, 20%);
            }
        }

        .keys {
            .row {
                .key {
                    background: none;
                    color: #fff;
                    border: 2px solid #fff;

                    &:hover {
                        background: #fff;
                        color: $brand-color;
                    }

                }
            }
        }
    }
}
