@import "../../scss/lib/variables";
@import "../../scss/lib/mixins";

.keypad-component {
    width: 100%;
    margin-bottom: $spacer * 2;

    .contacts-match {
        font-weight: 500;
        text-align: center;
        height: $spacer * 3;
    }

    .number-input {
        color: $brand-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &.dense {
            flex-direction: row;
            margin-bottom: $spacer;

            input {
                border: 1px solid $white;
                border-top-left-radius: $spacer / 2;
                border-bottom-left-radius: $spacer / 2;
                background: none;
                font-size: 1.5rem;
                color: $white;
                text-align: right;
                height: 40px;
                width: 200px;
                padding-right: $spacer;

                &::placeholder {
                    color: $white;
                }
            }

            i {
                background: $white;
                color: $brand-variation-color;
                height: 40px;
                width: 40px;
                border: 1px solid $white;
                border-left: 0;
                border-top-right-radius: $spacer / 2;
                border-bottom-right-radius: $spacer / 2;
                transition: all 300ms ease;

                &:hover {
                    cursor: pointer;
                }

                &.disabled {
                    color: $grey-color-lighter;
                    background: $brand-variation-color;
                    cursor: not-allowed;
                    border: 1px solid $brand-variation-color;
                }
            }

            & + .number-input-match {
                color: $white;
                height: $spacer * 3;
                line-height: $spacer * 3;
            }
        }

        &.touch {
            input {
                @include no-outline;
                border: 0;
                width: 100%;
                height: $spacer * 6;
                font-size: 1.8rem;
                font-weight: 500;
                text-align: center;
                padding: 0 40px;
                background: transparent;
                color: $brand-color;
            }

            i {
                font-size: 1.8rem;
                height: 60px;
                line-height: 55px;
                vertical-align: center;
                position: absolute;
                right: 10px;

                &:hover {
                    cursor: pointer;
                }
            }

            & + .number-input-match {
                color: $grey-color-darker;
                height: $spacer * 5;
                line-height: $spacer * 5;
            }
        }
    }

    .keys {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
        margin-top: $spacer;

        .row {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            padding-bottom: 5px;

            .key {
                @include no-outline;
                margin: 0 $spacer;
                height: 65px;
                width: 65px;

                border-radius: 100%;
                break-inside: avoid;

                font-size: 1rem;
                font-weight: bold;
                border: 2px solid $brand-color;
                background: $white;
                color: $brand-color;

                &:hover {
                    cursor: pointer;
                    background: $brand-color;
                    color: $white;
                }

                .sub {
                    font-size: 0.7rem;
                }
            }
        }
    }

    &.no-call {
        .number-input {
            input::placeholder {
                color: $grey-color-light;
            }
        }
    }

    // Override defaults when in call.
    &.call-active {
        .number-input {
            input::placeholder {
                color: lighten($brand-color, 20%);
            }
        }

        .keys {
            .row {
                .key {
                    background: none;
                    color: $white;
                    border: 2px solid $white;

                    &:hover {
                        background: $white;
                        color: $brand-color;
                    }

                }
            }
        }
    }
}
