// Replaces an item with an option menu when
// hovering over the item.

.item-list {
    .item {
        &:hover {
            .item-options {
                display: flex;
            }
        }

        .item-options {
            display: flex;
            opacity: 0.3;
            transition: opacity 0.25s;

            &:hover {
                opacity: 1;
            }

            .item-option {
                align-items: center;
                border: 0;
                border-radius: $spacer;
                color: $white-color;
                display: flex;
                justify-content: center;
                margin-left: $spacer / 2;
                padding: $spacer / 2;
                user-select: none;

                svg {
                    @include icon-size($spacer * 2.5);
                }

                &.green {
                    background: $green-color;
                    color: $white;

                    &[disabled] {
                        background: $grey-color-light;

                        &:hover {
                            background: $grey-color-light;
                            color: $grey-color-lightest;
                            cursor: not-allowed;
                        }
                    }

                    &:hover {
                        background: darken($green-color, 10%);
                    }
                }

                &.grey {
                    background: $grey-color-light;
                    color: $white-color;

                    &.active {
                        background: $yellow-color;
                        color: $white-color;

                        &:hover {
                            background: darken($yellow-color, 10%);
                        }
                    }

                    &:hover {
                        background: darken($grey-color-light, 10%);
                        color: $white-color;
                    }
                }

                &:hover {
                    color: $white-color;
                    cursor: pointer;
                }
            }
        }
    }

    &.dense {
        .item {
            .item-options {
                .item-option {
                    background: none;
                    margin-left: 0;
                    padding: $spacer / 4;

                    &.green {
                        color: $green-color;

                        &:hover {
                            background: none;
                        }
                    }

                    &.grey {
                        color: $grey-color-light;

                        &:hover {
                            background: none;
                        }

                        &.active {
                            background: none;
                            color: $yellow-color;
                        }
                    }
                }
            }

        }
    }


    &.regular {
        .item {
            .item-options {
                margin-right: $spacer;
                .item-option {

                    svg {
                        @include icon-size($spacer * 1.75);
                    }
                }
            }
        }
    }

}
