@import "vialer-js/lib/mixins";
@import "vialer-js/lib/variables";

.component-main-menubar {
    background: $brand-color;

    .options {
        // Keeps the menubar icons from scrolling with the main content.

        width: $spacer * 5;

        .option {
            align-items: center;
            color: $white;
            display: flex;
            flex-direction: column;
            height: $spacer * 7;
            justify-content: center;
            transition: background 150ms ease-in-out;

            svg {
                @include icon-size($spacer * 3);
            }

            &.availability {

                path[pid="0"] {
                    stroke: $white-color;
                    stroke-width: 2;
                }

                &.available {
                    path[pid="0"] {fill: $green-color;}
                    path[pid="1"] {fill: $white;}
                }

                &.dnd {
                    path[pid="0"] {
                        fill: $orange-color;
                        stroke: $white;
                    }
                    path[pid="1"] {fill: $white;}
                }

                &.unavailable {
                    path[pid="0"] {
                        fill: $yellow-color;
                        stroke: $white;
                    }
                    path[pid="1"] {fill: $white;}
                }

                &.active,
                &:hover {
                    path[pid="0"] {stroke: $grey-color;}
                }

            }

            // Unread red-dot on top of the recent icon.
            &.unread {
                position: relative;

                &::after {
                    @include icon-size(14px);
                    animation: bounce .5s ease-in-out infinite;
                    background: $brand-accent-color;
                    border-radius: 50%;
                    bottom: 13px;
                    content: "";
                    left: 3px;
                    position: absolute;
                    z-index: 10;
                }
            }

            &.calls {
                &.calls-active {
                    background: lighten($brand-color, 10%);

                    &.active {
                        background: $white;
                        svg {fill: $brand-color;}
                    }
                    svg {fill: $white-color;}
                }
            }


            &.hint {
                @include animation("hint-pulse 1.5s infinite");
            }

            &.disabled {
                color: rgba(255, 255, 255, 0.5);

                &.active,
                &:hover {
                    background: rgba(255, 255, 255, 0.6);
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            &.active,
            &:hover {
                background: $white;
                cursor: pointer;
                // Cascading error in Chrome when using svg path selector.

                svg {
                    fill: $brand-color;
                }

                &.hint {
                    @include animation("hint-pulse-active 1.5s ease-in infinite");

                    svg {
                        fill: $brand-color;
                    }
                }
            }
        }
    }

}
