html,
body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    color: $vg-primary-color;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    width: 400px;
}

* {
    box-sizing: border-box;
}

// Hide elements.
.hide {
    display: none;
}
