html,
body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    zoom: 1;
}

body {
    color: $vg-primary-color;
    width: 400px;
}

* {
    box-sizing: border-box;
}

// Hide elements.
.hide {
    display: none;
}
