@mixin selection {
    ::-moz-selection {@content;}
    ::selection {@content;}
}

@include selection {
    background: $vg-brand-color;
    color: #fff;
}

html body {

    select {
        width: 100%;
        // Set the pading instead of the height here, otherwise the
        // size of the select dropdown is miscalculated on Chrome for Windows.
        height: 35px;
        background: $vg-grey-lightest;
        outline: none;
        border: 1px solid $vg-grey-lighter;

        select:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }

        &:focus {
            border: 1px solid $vg-grey-light;
        }
    }

    button {
        outline: none;
        background: $vg-brand-color;
        border: 1px solid lighten($vg-brand-color, 15%);
        transition: all 0.2s linear;
        box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.25);
        color: #fff;
        font-weight: 600;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        text-align: center;
        position: relative;
        text-transform: uppercase;
        padding: 0 $vg-spacing-3;

        // Disable the dotted outline in Firefox.
        &::-moz-focus-inner {
            border: 0;
        }

        // The default disabled state uses
        &[disabled] {
            cursor: not-allowed;
            background: $vg-grey-lighter;
            border: 1px solid transparent;
            box-shadow: none;
        }

        &:hover:enabled {
            cursor: pointer;
            background: lighten($vg-brand-color, 10%);
            box-shadow: none;
        }

        i {
            position: absolute;
            line-height: 40px;
            left: $vg-spacing-gap;
            font-size: 1rem;
        }

        &.loading {
            opacity: 1;
            transition: all 0.2s linear;
            background: lighten($vg-brand-color, 15%);
        }

        &.failed {
            opacity: 1;
            transition: all 0.2s linear;
            border: 1px solid lighten($vg-failed-color, 30%);
            background: $vg-failed-color;
            color: #fff;
        }

        &.info {
            opacity: 1;
            transition: all 0.2s linear;
            border: 1px solid $vg-brand-color;
            background: #fff;
            color: $vg-brand-color;
        }
    }
}
