@mixin vg-gradient {
    background: linear-gradient(to bottom, #fcfcfc 0%, #efefef 100%);
}

@mixin vg-modal-widget {
    border-radius: $vg-border-radius;
    margin-left: 0;
    margin-top: 0;

    .widget-header {
        border-top-left-radius: $vg-border-radius;
        border-top-right-radius: $vg-border-radius;
    }
}
