@import "../base/form";

.popup {
    overflow-y: hidden;
}

.flip-horizontal {
    transform: scaleX(-1);
}

// Different cursor for clickable stuff.
.shortcuts i,
.logout,
.widget .widget-header {
    cursor: pointer;
}


.unauthorized-warning {
    padding: 14px 10px 14px;
}
