// Dimensions.
$vg-spacing-1: 5px;
$vg-spacing-2: 10px;
$vg-spacing-3: 15px;
$vg-spacing-4: 20px;
$vg-spacing-5: 25px;
$vg-spacing-6: 30px;
$vg-spacing-12: 60px;

// Visual gap that lines out with the widget icon that is
// a 1.3rem centered font in a 45px box.
$vg-spacing-gap: 13px;

$vg-widget-header-size: 55px;
$vg-widget-header-size-small: 40px;
$vg-widget-header-size-combined: $vg-widget-header-size + $vg-widget-header-size-small;
$vg-border-radius: $vg-spacing-1;

$mini: 250px;
$mobile: 369px;
$widget: 400px;
$tablet: 769px;
$desktop: 960px;
$widescreen: 1152px;
$fullhd: 1344px;


// Make sure to keep these in sync with the icons in fonts.scss.
$icon-toggle-up: "\e910";
$icon-toggle-down: "\e90d";
$icon-check: "\e901";
$icon-checkbox-checked: "\f046";
$icon-checkbox-unchecked: "\f096";

// Default colors; can be overriden by vialer-jsrc
$vg-failed-color: #d9534f !default;

$vg-grey-light: #999 !default;
$vg-grey-lighter: #e5e5e5 !default;
$vg-grey-lightest: #fbfbfb !default;

$vg-primary-color: #3c3c50 !default;

$vg-state-available-color: #5cb85c !default;
$vg-state-busy-color: #d9534f !default;

// Bulma
$primary: $vg-brand-color;
$family-primary: "Roboto";
