@import "../../scss/variables";

.availability-component {

    // Container for availability radio buttons.
    .availability-toggle {
        padding: 10px 0;

        > label {
            margin-right: 10px;
        }

        .radio {
            margin-left: 10px;

            .form-control {
                margin-right: 5px;
            }
        }
    }

    // Availability choices select.
    .availability-destination select {
        width: 100%;
    }

}
