@import "../../scss/lib/variables";

.component-availability {
    select {
        width: 100%;
    }

    .platform-availability {
        .switch[type="checkbox"] {
            & + label::before {
                background: $yellow-color;
            }

            &:checked + label::before {
                background: $green-color;
            }
        }
    }
}
