@import "../../scss/lib/variables";

.main-component {
    display: flex;
    flex-direction: column;

    .panel {
        display: flex;

        .panel-sidebar {
            width: $spacer * 5;
        }

        .panel-content {
            padding: $spacer * 3;
            width: 100%;

            h1 {
                text-transform: uppercase;
                font-weight: 500;
                color: $brand-color;
            }
        }
    }
}
