@import "vialer-js/lib/mixins";
@import "vialer-js/lib/variables";

.component-call {
    color: $primary-color;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 350px;
    padding: $spacer * 3;
    padding-bottom: 0;


    .call-info {
        font-weight: 400;
        text-align: center;

        .contact-avatar {
            @include icon-size($spacer * 10);
            background: $brand-color;
            border: 2px solid $white-tint-color-light;
            border-radius: 50%;
            color: $white-color;
            margin-bottom: $spacer;
            padding: $spacer;
            z-index: 100;
        }

        .info-name {
            font-size: 1.2rem;
        }

        .info-number {
            font-size: 1.6rem;
            font-weight: 500;
        }

        .info-status {
            color: $grey-color;
            font-size: 1rem;
            font-weight: 500;
            margin-top: $spacer / 2;
        }
        .info-timer {font-size: 1rem;}
    }

    .call-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: $spacer * 3;
        padding: 0 ($spacer * 5);

        .rounded-button-with-text {
            padding: $spacer * 0.75;
            text-align: center;

            .rounded-button {
                background: $white-color;
                border: 2px solid darken($grey-color-lightest, 5%);
                color: $grey-color;
                margin-bottom: $spacer;
                user-select: none;

                svg {
                    @include icon-size($spacer * 3);
                }

                &:hover {color: $grey-color;}

                &.active {
                    border: 2px solid $brand-color;
                    color: $brand-color;

                    + p {
                        color: $grey-color;
                    }
                }

                &.disabled {
                    background: rgba($grey-color-lighter, 0.2);
                    border: 2px solid rgba($white-color, 0.7);
                    color: rgba($grey-color, 0.7);
                    cursor: not-allowed;

                    + p {
                        color: $grey-color-lighter;
                    }
                }
            }

            p {
                color: lighten($grey-color, 15%);
                font-size: 0.9rem;
                font-weight: 500;
                user-select: none;
            }
        }

        .option {
            padding: $spacer * 2;
            text-align: center;

            &.active {
                .icon {
                    background: $white;

                    i {
                        color: $brand-color;
                    }
                }
            }

            .icon {
                border: 2px solid $white;
                border-radius: 100%;
                height: 60px;
                line-height: 60px;
                margin-bottom: 8px;
                text-align: center;
                width: 60px;

                i {
                    font-size: 24px;
                }
            }
        }
    }

    .transfer-options {
        align-items: center;
        display: flex;
        flex-direction: column;

        .transfer-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: $spacer * 2;
            width: 100%;

            .transfer-button {
                background: $white-color;
                border: 2px solid $white;
                border-radius: $spacer / 2;
                color: $grey-color-dark;
                font-size: 0.8rem;
                font-weight: 500;
                line-height: $spacer * 4;
                margin: 0 ($spacer * 2);
                padding: 0 $spacer;
                text-align: center;
                width: 130px;

                &.active,
                &:hover {
                    color: $brand-color;
                    cursor: pointer;
                }

                &.active {
                    cursor: default;
                }


                &.disabled {
                    opacity: 0.5;

                    &:hover {
                        background: none;
                        color: $white;
                        cursor: not-allowed;
                    }
                }
            }
        }

        .transfer-text {
            color: $grey-color-dark;
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: $spacer;
            text-align: center;
        }

        .transfer-keypad {
            text-align: center;
        }
    }
}


.call-actions {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    margin-top: $spacer;
    width: 100%;

    .rounded-button {
        svg {
            @include icon-size($spacer * 4);
        }
    }

    .action {
        margin: $spacer;

        &.decline {
            background: $red-color;
            color: $white;
            &:hover {background: darken($red-color, 6%);}
        }

        &.accept {
            background: $green-color;
            color: $white;
            &:hover {background: darken($green-color, 3%);}
        }

        &.dial {
            background: $brand-accent-color;
            color: $white;
            &:hover {background: darken($brand-accent-color, 3%);}
        }

        &.disabled {
            background: $grey-color;

            &:hover {
                background: $grey-color;
                cursor: not-allowed;
            }
        }
    }
}
