@import "../../scss/lib/mixins";
@import "../../scss/lib/variables";

// Bulma form field with some small modifications.
.field-password,
.field-text {
    &:not(:last-child) {
        margin-bottom: 0;
    }
}

.field {

    &:last-child {
        margin-bottom: 0;
    }

    .label {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .validation-message {
        // Make sure it doesn't collapse when there is no message.
        color: $red-color;
        font-size: 0.75rem;
        margin: 0;
        margin-top: $spacer / 4;
        transition: opacity 0.5s ease;

        &.hide {
            opacity: 0;
        }

        &.show {
            opacity: 1;
        }
    }
}

// A select field with a button attached next to it.
.field-select {

    .control {
        .select {
            select {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                max-width: 300px;

                &:active,
                &:focus {
                    border: 1px solid $grey-color-light;
                    box-shadow: 0 0 0 1px inset lighten($brand-color, 20%);
                }
            }

            &.is-danger {
                select {
                    &:active,
                    &:focus {
                        box-shadow: 0 0 0 1px inset $red-color;
                    }
                }
            }
        }

        button {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.field-checkbox {
    margin-bottom: $spacer * 2;

    .switch[type="checkbox"] + label {
        display: block;
    }

}
