// This is Bulma with some field customizations.

// A select field with a button attached next to it.
.field-select {

    .control {
        display: flex;
        justify-content: center;
        max-width: 300px;
    }

    div.select {
        select {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        & + button {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}
