@import "vialer-js/lib/variables";

.component-main {
    display: flex;
    height: 100%;
    width: 100%;


    .app-view-sidebar {
        width: 300px;
    }

    .app-view-main {
        background: $white-tint-color-light;
        flex: 1;
        height: 100vh;
        overflow: auto;
        padding: $spacer * 4;
        padding-bottom: $spacer * 8;
    }
}
