@import "../../scss/lib/variables";

.notifications-component {
    position: absolute;
    top: $spacer * 5;
    left: 0;
    width: 100%;

    z-index: 100000;

    &.with-sidebar {
        left: $spacer * 5;
        width: calc(100% - #{$spacer * 5});
    }

    .notification {
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        border-radius: 0;
        height: $spacer * 6;

        .icon {
            height: 100%;
            line-height: $spacer * 6;
            min-width: $spacer * 5;
        }

        .message {
            flex-grow: 1;
            padding-left: $spacer;
        }

        .actions {
            line-height: $spacer * 6;
        }

        .delete {
            vertical-align: middle;
            margin-right: $spacer;
            margin-left: $spacer;
        }
    }
}
