@import "../../scss/lib/variables";

.notifications-component {
    position: absolute;
    top: $spacer * 5;
    left: $spacer * 5;
    width: calc(100% - #{$spacer * 5});
    z-index: 100000;
    max-width: $max-popup-width;

    .notification {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        border-radius: 0;

        .icon {
            height: 100%;
            display: block;
            text-align: center;
            min-width: $spacer * 5;
        }

        .message {
            flex-grow: 1;
            padding-left: $spacer;
        }

        .actions {
            line-height: $spacer * 6;
        }

        .delete {
            vertical-align: middle;
            margin-right: $spacer;
            margin-left: $spacer;
        }
    }
}
