@import 'vialer-js/lib/variables';

.component-notifications {
    left: 0;
    position: fixed;
    width: $max-popup-width;
    z-index: 100000;

    &.topbar {
        top: $spacer * 5;
    }

    &.sidebar {
        left: $spacer * 5;
        width: calc(#{$max-popup-width} - #{$spacer * 5});
    }

    .notification {
        align-items: center;
        background: $grey-color-lightest;
        border-radius: 0;
        border-top: 2px solid $brand-accent-color;
        color: $grey-color-dark;
        display: flex;
        flex-direction: row;
        height: $spacer * 7;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        transition: all 0.25s;

        &.is-warning {
            background: lighten($orange-color, 40%);
            border-bottom: 2px solid $orange-color;
            color: darken($orange-color, 25%);

            .icon svg {
                fill: $orange-color;
            }
        }


        .icon {
            height: 100%;
            line-height: $spacer * 6;
            min-width: $spacer * 6;

            svg {
                fill: $brand-accent-color;
                height: $spacer * 3;
                width: $spacer * 3;
            }
        }

        .message {
            flex-grow: 1;
        }

        .actions {
            line-height: $spacer * 6;
        }

        .delete {
            margin-left: $spacer;
            margin-right: $spacer;
            vertical-align: middle;
        }

        .link {
            font-weight: 500;

            &:hover {
                cursor: pointer;
            }
        }
    }

    // Vue transition classes.
    .notification-enter {
        opacity: 0;
        transform: scale(0);
    }

    .notification-enter-to {
        opacity: 1;
        transform: scale(1);
    }

    .notification-leave-active {
        transform: scale(0);
    }

    .notification-move {
        opacity: 1;
        transition: all 0.5s;
    }

}
