@import "../../scss/variables";

.calldialog-component {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;

    &.call-active {
        background: linear-gradient(180deg, $brand-color, $brand-tint-color);
    }

    &.no-call {
        background: #fff;
    }

    .option {
        &:hover {
            cursor: pointer;
        }
    }

    .call-info {
        align-self: flex-start;
        width: 100%;
        text-align: center;
        font-weight: 500;
        margin-bottom: 8px;

        .info-status {
            font-size: 1rem;
        }

        .info-number {
            font-size: 2rem;
        }

        .info-name {
            font-size: 1rem;
        }

        &.info-timer {
            width: 100%;
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
        }
    }

    .call-options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0 40px;

        .option {
            text-align: center;

            &.active {
                .icon {
                    background: #fff;

                    i {
                        color: $brand-color;
                    }
                }
            }

            .icon {
                height: 60px;
                width: 60px;
                border: 2px solid #fff;
                border-radius: 100%;
                line-height: 60px;
                text-align: center;
                margin-bottom: 8px;

                i {
                    font-size: 24px;
                }
            }
        }
    }

    .call-actions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: flex-end;

        .action {
            &.decline {
                color: $red-color;
            }

            &.accept {
                color: $green-color;
            }

            &.dial {
                .fa-circle {
                    color: $green-color;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
