@import "../../scss/lib/variables";

.calldialog-component {
    display: flex;
    flex-direction: column;
    color: #fff;
    min-height: 250px;

    // Keypad styling for when making a new call.
    &.no-call {
        background: #fff;
    }

    // Keypad styling for when in a call.
    &.call-active {
        background: linear-gradient(180deg, $brand-color, $brand-variation-color);

        .call-actions {
            .action.accept {
                box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
            }
        }

        .keypad-component {
            .number-input {
                input {
                    color: #fff;
                }
            }
        }
    }

    .call-info {
        align-self: flex-start;
        width: 100%;
        text-align: center;
        font-weight: 500;
        margin-bottom: $spacer * 3;

        .info-status {
            font-size: 1rem;
        }

        .info-number {
            font-size: 2rem;
        }

        .info-name {
            font-size: 1rem;
        }

        &.info-timer {
            width: 100%;
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
        }
    }

    .call-options {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0 ($spacer * 5);
        margin-bottom: $spacer;

        .rounded-button-with-text {
            padding: $spacer;
            text-align: center;

            .rounded-button {
                border: 2px solid #fff;
                margin-bottom: $spacer;

                &:hover,
                &.active {
                    background: #fff;
                    color: $brand-color;
                }

                i {
                    height: auto;
                    width: auto;
                    padding: $spacer * 2;
                }
            }
        }

        .option {
            text-align: center;
            padding: 10px;

            &.active {
                .icon {
                    background: #fff;

                    i {
                        color: $brand-color;
                    }
                }
            }

            .icon {
                height: 60px;
                width: 60px;
                border: 2px solid #fff;
                border-radius: 100%;
                line-height: 60px;
                text-align: center;
                margin-bottom: 8px;

                i {
                    font-size: 24px;
                }
            }
        }
    }

    .transfer-options {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .transfer-buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-bottom: $spacer * 4;

            .transfer-button {
                width: 130px;
                margin: 0 ($spacer * 2);
                border: 2px solid #fff;
                border-radius: $spacer / 2;
                font-weight: bold;
                font-size: 0.7rem;
                line-height: $spacer * 4;
                padding: 0 $spacer;
                text-align: center;

                &:hover,
                &.active {
                    background: #fff;
                    color: $brand-color;
                    cursor: pointer;
                }
            }
        }

        .transfer-text {
            margin-bottom: $spacer * 4;
            text-align: center;
            font-size: 1.1rem;
        }

        .transfer-keypad {
            text-align: center;
        }

    }
}
