@import "../../scss/lib/variables";

.sidebar-component {
    text-align: center;
    border-radius: 0 0 0 $spacer;
    background: $brand-color;

    .option {
        float: left;
        width: $spacer * 5;
        height: $spacer * 5;
        line-height: $spacer * 5;
        font-size: $spacer * 3;
        margin-bottom: $spacer;
        color: #fff;

        &.active,
        &:hover {
            cursor: pointer;
            background: #fff;
            color: $brand-color;
        }
    }
}
