@import "../../scss/lib/variables";

.sidebar-component {
    flex: 1 0 $spacer * 5;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: $spacer * 5;
    height: calc(100% - 40px);
    position: fixed;
    background: $brand-color;
    width: $spacer * 5;

    .option {
        float: left;
        line-height: $spacer * 5;
        font-size: $spacer * 3;
        padding: ($spacer / 2) 0;
        color: $white;
        transition: all 600ms ease;

        &.hint {
            background: rgba(255, 255, 255, 0.5);
        }

        &.disabled {
            color: rgba(255, 255, 255, 0.5);

            &:hover {
                color: rgba(255, 255, 255, 0.5);
                cursor: not-allowed;
                background: none;
            }
        }

        &.active,
        &:hover {
            cursor: pointer;
            background: $white;
            color: $brand-color;
        }
    }
}
