@import "../../scss/lib/mixins";
@import "../../scss/lib/variables";

// The most upper box containing account info and
// icon-links to several locations.
.call-switch-component {
    position: absolute;
    right: 0;
    top: 0;
    width: $spacer * 5;
    z-index: 100000;

    .call {

        i {
            color: $white;
            height: $spacer * 5;
            line-height: $spacer * 5;
            text-align: center;
            width: $spacer * 5;

            // Create a new call. Make the button for adding a new call and
            // a new call block less bright, so it doesn't interfere with
            // the user's switch call flow.
            &.add-call {
                background: rgba(255, 255, 255, 0.1);

                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                    color: $white;
                }
            }

            &.hint {
                &.active {
                    @include animation("hint-pulse-active 1.5s infinite");
                }

                &:not(.active) {
                    @include animation("hint-pulse 1.5s infinite");
                }
            }

            // An existing call obecjt with status `new`.
            &.new-call {
                background: rgba(255, 255, 255, 0.1);
                color: $white;

                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                    color: $white;
                }

                &.active {
                    background: rgba(255, 255, 255, 0.2);
                    color: $white;

                    &:hover {
                        background: $red-color;
                    }
                }
            }



            &:hover,
            &.active {
                background: $white;
                color: $brand-variation-color;
                cursor: pointer;
            }
        }
    }
}
