@import "vialer-js/lib/mixins";
@import "vialer-js/lib/variables";


// The most upper box containing account info and
// icon-links to several locations.
.component-call-switch {
    background: $white-tint-color-light;
    width: $spacer * 5;

    .call {
        @include icon-size($spacer * 5);
        align-items: center;
        background: $white-tint-color-dark;
        border-left: 1px solid $grey-color-lightest;
        border-top: 1px solid $grey-color-lightest;
        display: flex;
        justify-content: center;

        &:hover {
            background: $white-tint-color-bright;

            svg {
                fill: $brand-color;
            }
        }

        svg {
            fill: $primary-color;
            margin-left: -1px;
        }



        &.hint {
            &.active {
                @include animation("hint-pulse-active 1.5s infinite");
            }

            &:not(.active) {
                @include animation("hint-pulse 1.5s ease-in infinite");
            }
        }

        // An existing call object with status `new`.
        &.new-call {
            background: $green-color;
            svg {fill: $white-color;}

            &.active {
                background: $red-color;
                svg {fill: $white-color;}
            }
        }

        // &:hover,
        &.active {
            cursor: pointer;

            svg {fill: $brand-color;}
        }

        &.state-active {
            background: $brand-color;

            svg {fill: $white-color;}
        }


        &.state-accept {
            background: $green-color;

            svg {
                fill: $white-color;
            }

        }

        &.state-hangup {
            background: $red-color;

            svg {fill: $white-color}
        }
    }
}
