@import "../../scss/lib/mixins";
@import "../../scss/lib/variables";

// The most upper box containing account info and
// icon-links to several locations.
.component-call-switch {

    .call {
        @include icon-size($spacer * 5);
        align-items: center;
        display: flex;
        justify-content: center;

        svg {fill: $white;}


        // Create a new call. Make the button for adding a new call and
        // a new call block less bright, so it doesn't interfere with
        // the user's switch call flow.
        &.add-call {
            background: rgba(255, 255, 255, 0.1);

            &:hover {
                background: rgba(255, 255, 255, 0.2);
                color: $white;
            }
        }

        &.hint {
            &.active {
                @include animation("hint-pulse-active 1.5s infinite");
            }

            &:not(.active) {
                @include animation("hint-pulse 1.5s ease-in infinite");
            }
        }

        // An existing call object with status `new`.
        &.new-call {
            background: rgba(255, 255, 255, 0.1);

            &:hover {
                background: rgba(255, 255, 255, 0.2);

                svg {fill: $white;}
            }

            &.active {
                background: rgba(255, 255, 255, 0.2);

                svg {fill: $white;}
                &:hover {background: $red-color;}
            }
        }

        &:hover,
        &.active {
            cursor: pointer;

            &.state-active {
                background: $white;
                color: $brand-variation-color;

                svg {fill: $brand-variation-color;}
            }
        }

        &.state-accept {
            background: lighten($green-color, 20%);
            color: $white;
        }

        &.state-hangup {
            background: $red-color;
            color: $white;
        }
    }
}
