@import "vialer-js/lib/mixins";
@import "vialer-js/lib/variables";

.component-login {
    padding: $spacer * 4;

    header {
        text-align: center;
        width: 100%;

        .greeting {
            color: $brand-color;
            font-size: 1.8rem;
        }

        .welcome-message {
            color: $grey-color;
            padding-bottom: $spacer * 3;
            padding-top: $spacer * 2;

            .session-name {
                color: $brand-color;
                font-style: italic;
            }
        }
    }

    .buttons {
        padding-bottom: $spacer;
    }

    footer {
        color: $grey-color;
        font-size: 0.75rem;
        margin-top: $spacer;
        text-align: center;

        .forgot-pw {
            margin-bottom: $spacer;

            a {
                color: $grey-color;
            }
        }

        svg {
            color: $brand-color;
            margin-top: -2px;
            padding: 0 ($spacer / 3);
            width: $spacer * 2.5;

            &:hover {
                cursor: pointer;
            }
        }
    }


    .sessions {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: $spacer * 3;
        padding-top: 0;

        .new-session-text {
            color: $grey-color;
            margin-bottom: $spacer;
            margin-top: $spacer * 2;
        }

        .new-session {

            svg {
                margin-right: $spacer;
            }

            &:hover {
                color: $brand-color;
                cursor: pointer;
            }
        }

        .session {
            align-items: center;
            background: $grey-color-lightest;
            border-bottom: 2px solid $grey-color-lighter;
            border-top: 2px solid transparent;
            display: flex;
            margin-bottom: $spacer / 2;
            width: 100%;

            svg {
                color: $grey-color;
                margin: 0 $spacer;
                transition: color 0.2s ease-in;
            }

            .icon-session svg {
                @include icon-size($spacer * 3);
            }

            .icon-remove svg {
                @include icon-size($spacer * 1.5);

                &:hover {
                    color: $brand-color;
                }
            }

            &:hover {
                border-bottom: 2px solid $brand-accent-color;
                cursor: pointer;

                .icon-session svg {
                    color: $brand-color;
                }
            }

            .description {
                color: $grey-color-dark;
                font-size: 0.9rem;
                font-weight: 500;
                height: $spacer * 5;
                line-height: $spacer * 5;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
        }
    }

}
