@import 'vialer-js/lib/mixins';
@import 'vialer-js/lib/variables';

// The most upper box containing account info and
// icon-links to several locations.
.component-main-statusbar {
    color: $grey-color;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    height: ($spacer * 5);
    justify-content: space-between;
    transition: background 0.5s ease;

    &.error {
        background: $red-color;
        color: $white-color;

        .status-left .status-indicator svg {
            fill: $white-color;
        }
    }

    &.warning {
        background: $orange-color;
        color: $white-color;

        .status-left .status-indicator svg {
            fill: $white-color;
        }
    }

    &.ok {
        background: $grey-color-lightest;


        .status-left .status-indicator svg {
            fill: $green-color;
        }
    }

    .vendor {
        align-items: center;
        display: flex;

        .vendor-logo {
            @include icon-size($spacer * 3);
            fill: $brand-color;
            margin-left: $spacer / 2;
        }

        .vendor-name {
            color: $brand-color;
            font-size: 1rem;
            line-height: $spacer * 5;
            padding-left: $spacer;
        }
    }

    &.dnd {
        background: $red-color;
    }

    &.call-active {
        background: $green-color;
    }

    [class^='icon-'] {
        &:hover {
            color: $brand-color;
        }
    }

    .status-left {
        // Don't wrap but put dots at the end if it doesn't fit.
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;

        .status-indicator {
            text-align: center;
            width: $spacer * 5;

            svg {
                @include icon-size($spacer * 3);
            }
        }

        .username {
            margin: 0 $spacer;
        }

    }

    // The icon links container at the right top of the popup.
    .options {
        display: flex;
        flex-direction: row;
        vertical-align: middle;

        .option {
            height: $spacer * 5;
            line-height: $spacer * 5;
            padding: 0 $spacer;

            &.disabled {
                opacity: 0.3;

                &:hover {
                    cursor: default;
                }
            }

            &.active,
            &:hover {
                background: $white;
                color: $brand-color;
                cursor: pointer;
            }
        }
    }

    .in-call-info {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    .call-info {
        margin-right: $spacer;
    }
}
