// Replaces an item with an option menu when
// hovering over the item.
.item-slider {
    animation-play-state: paused;
    display: flex;
    height: 0%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10000;

    .item-slider-option {
        align-items: center;
        color: $white-color;
        display: flex;
        flex: 1;
        font-weight: 500;
        justify-content: center;
        user-select: none;

        svg {
            @include icon-size($spacer * 2.5);
            padding-left: $spacer / 2;
        }

        &.green {
            background: $green-color;
            &:hover {background: darken($green-color, 10%);}
        }

        &.grey {
            background: $grey-color-light;

            &.active {
                background: $yellow-color;

                &:hover {
                    background: darken($yellow-color, 10%);
                }
            }
            &:hover {background: darken($grey-color-light, 10%);}
        }

        &:hover {
            background: $brand-color;
            color: $white-color;
            cursor: pointer;
        }
    }
}
