.notification-box {
    border-radius: $spacer / 2;
    font-size: 0.75rem;
    margin: $spacer 0;
    overflow: auto;
    padding: $spacer ($spacer * 2);

    &.info {
        background: rgba($brand-color, 0.1);
    }

    &.troubleshoot {
        background: $red-color;
        color: $white;

        header {
            svg {
                fill: $white;
            }
        }
    }

    header {
        align-items: center;
        display: flex;
        font-weight: bold;
        margin-bottom: $spacer;
        text-transform: uppercase;

        svg {
            color: $brand-color;
            margin-right: $spacer;
        }
    }

    .description {
        margin-bottom: $spacer;
    }

    ul {
        li {
            margin-bottom: $spacer / 4;
            text-align: left;

            // Icons that are used in help texts.
            svg {
                height: 0.75rem;
                width: 0.75rem;
            }
        }
    }
}
