// Bulma tabs with some minor modifications.
.tabs {
    height: $spacer * 7;
    margin-bottom: 0;

    &.tabs-squeezed {

        ul {
            align-items: top;
            border-bottom: 0;
        }

        li {
            font-weight: 500;
            text-transform: uppercase;

            a {
                border-bottom-width: 2px;
                height: auto;
            }
        }
    }

    ul {
        display: flex;
        justify-content: space-between;

        li {
            flex-grow: 1;

            &.disabled {
                opacity: 0.3;

                a {
                    &:hover {
                        cursor: not-allowed;
                    }
                }

            }
        }
    }

    a {
        height: $spacer * 7;
        padding: 0.5rem 0.5rem;
    }
}

// Button beneath tabs.
.tabs-actions {
    padding: 0 ($spacer * 3);
    padding-bottom: ($spacer * 3);
}

.tab {
    display: none;
    margin-bottom: $spacer * 2;
    padding: 0 ($spacer * 3);

    &.is-active {
        display: block;
    }
}
