.widget.contacts.unauthorized .search-form {
    display: none;
}

.widget.contacts .connection-icon {
    display: none;
}

.widget.contacts {

    .search-form {
        display: inline-block;
        position: absolute;
        left: 40%;
        top: 0;
        right: 35px;

        .search-button {
            height: 32px;
            line-height: 32px;
            position: absolute;
            left: .4em;
            top: 12.5%;
        }

        .form-control {
            width: 100%;
            padding-left: 28px;
            padding-top: 5px;
            padding-bottom: 5px;
            background: #f9f9f9;
            border: 1px solid #ddd;
            box-sizing: border-box;
        }
    }

    .list {
        margin: 0;
        padding: 0;

        // Show a scrollbar after +/- 5 contacts.
        max-height: 210px;
        overflow: auto;
    }

    .contact {
        border-bottom: 1px solid #ddd;
        margin: 0;
        height: auto;
        padding: 3px 7px 2px;
        line-height: normal;
        overflow: hidden;
        cursor: default;
        list-style: none;

        .status-icon {
            margin: 5px 0 0 5px;
            width: 30px;
            line-height: 31px;
            color: #789;
        }

        .info {
            margin-left: 30px;
        }

        .name {
            display: inline-block;
            font-weight: 600;
        }

        .extension {
            display: inline-block;
            color: #9b9c9e;
            font-weight: normal;
        }

        .status-icon,
        .extension,
        .name {
            cursor: pointer;
        }
    }

    .empty-list li,
    .not-found-contacts li {
        height: 43px;
        line-height: 43px;
    }
}
