.popout,
.popout body {
    height: 100%;
}

.popout body {
    width: auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;


    .shortcuts {
        // Hide the popout button when we're in the popout.
        .popout-button {
            display: none;
        }
    }

    // Hide the availability and queues widget.
    .widget.queues,
    .widget.availability {
        display: none;
    }

    .account-info {
        position: absolute;
        right: 0;

        @media (max-width: 620px) {
            right: auto;
            left: 473px;  // 13 + 450 + 10
            min-width: 144px;
            box-sizing: border-box;
        }
    }

    .no-scroll {
        overflow-y: auto;
    }

    & > div {
        min-width: 361px;
        max-width: 450px;
    }

    .container {
        &:not(.hide) {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .widget.contacts {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

        width: 100%;
        box-sizing: border-box;
        position: relative;

        display: flex;
        flex-direction: column;

        // The space for collapsing the widget should be gone.
        .search-form {
            right: 10px;
        }

        .widget-header {
            flex: 0 0 40px;
            display: flex;
            flex-direction: column;
            margin-left: -1px;
            margin-right: -1px;
            border-left: 1px solid #d5d5d5;
            border-right: 1px solid #d5d5d5;

            // The widget is not collapsable. Hide the collapse icon.
            .widget-title {
                background: none;
            }
        }

        .widget-content {
            display: flex;
            flex-direction: column;

            margin-top: -1px;
            margin-left: -1px;
            width: 100%;

            .list {
                display: flex;
                flex-flow: column wrap;
                align-content: flex-start;

                overflow-x: auto;
                border-top: 0;
                max-height: none;
                width: calc(100vw - 26px);

                @media (max-width: 620px) {
                    width: auto;
                    margin-right: -2px;
                }

                & .contact {
                    width: 450px;
                    box-sizing: border-box;
                    border-bottom: 0;
                    border: 1px solid #d5d5d5;
                    margin-bottom: -1px;
                    margin-right: -1px;

                    &.last {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .widget.contacts {
        .empty-list .contact,
        .not-found-contacts .contact {
            height: 48px;
            box-sizing: border-box;
        }
    }
}
