.queues {
    .queue {
        border-bottom: 1px solid #ddd;
        font-weight: 600;
        margin: 0;
        height: 43px;
        padding: 0 10px;
        line-height: 43px;
        background-position: right center;
        background-repeat: no-repeat;
        background-image: none;
        // Force fixed height to include border-width.
        box-sizing: border-box;

        &:hover {
            cursor: pointer;
        }

        &.selected {
            background-image: url("../img/selected.png");
        }

        .indicator {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: #ea0000;
            line-height: 20px;
            text-align: center;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            margin-right: 5px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25);
            box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25);
        }

        .code {
            color: #78788c;
            font-weight: normal;
        }
    }

    .empty-list .queue .text {
        margin-left: 30px;
    }

    .list {
        /* show a scrollbar after +/- 5 queues */
        max-height: 210px;
        overflow: auto;
    }
}
