// Entrypoint for all vialer-js application SCSS. SCSS files from
// components are blended in from the Gulp task.
@import "lib/variables";
@import "lib/fonts";
@import "lib/mixins";
@import "lib/tooltip";
@import "lib/icons";
@import "lib/animations";
@import "lib/base";

@import "elements/filters";
@import "elements/item-slider";
@import "elements/notification-box";
@import "elements/tabs";
