html,
body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    zoom: 1;
}

body {
    color: $vg-primary-color;
    width: 400px;
}

* {
    box-sizing: border-box;
}

// Hide elements.
.hide {
    display: none;
}


.list {
    .list-item {
        display: flex;

        &:nth-child(even) {
            background: $vg-grey-lightest;
        }

        &:nth-child(odd) {
            background: $vg-grey-lighter;
        }

        .icon i {color: $vg-grey-light;}
        .icon.busy i {color: $vg-state-busy-color;}
        .icon.available i {color: $vg-state-available-color;}

        // Ringing state is a css keyframe animation.
        .icon.ringing i {
            transition-timing-function: ease;
            animation: ringing 1.5s linear infinite;
        }

        .info {
            .name {
                font-weight: 500;
            }

            .description {
                color: $vg-primary-color;
            }
        }
    }
}
