// Prevent firefox from showing the cursor: text for normal elements like divs etc.
@mixin no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@mixin no-outline {
    outline: none;
}
