@import "lib/variables";
@import "lib/fonts";

// Entrypoint for vialer-js observer SCSS.
@media print {
    .vialer-icon {
        display: none;
    }
}

@media screen {
    html {
        body {
            ctd {
                align-items: center;
                display: inline-flex;
                flex-direction: row;
                justify-content: flex-start;

                ctdicon.ctd-icon {
                    background-color: transparent;
                    background-image: url("../img/click-to-dial.png");
                    background-position: center center;
                    background-repeat: no-repeat;
                    border-radius: 9px;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                    display: inline-block;
                    height: 18px;
                    line-height: inherit;
                    margin: 0 4px;
                    margin-top: -2px;
                    padding: 0;
                    transition: all 300ms ease;
                    width: 18px;

                    // The label class toggles the data-content label.
                    &.label {
                        &::after {
                            background: rgba($grey-color-darkest, 0.8);
                            color: $white;
                            content: attr(data-content);
                            font-family: "Roboto";
                            font-size: $spacer;
                            font-weight: bold;
                            margin-left: $spacer * 2;
                            padding: $spacer / 4;
                            position: absolute;
                        }
                    }

                    &.disabled {
                        filter: grayscale(100%);

                        &:hover {
                            cursor: not-allowed;
                        }
                    }

                    &:hover {
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }


}
