/**
 * Styling for the login form and panel.
 */
html {
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    color: #3c3c50;
    font: 13px/1.7em 'Open Sans';
    width: 400px;
}

.no-scroll {
    overflow-y: hidden;
}

input[type="text"],
input[type="password"],
input[type="search"] {
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    height: 32px;
    padding: 0 12px;

    /* force fixed height to include border-width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-section,
.container .account-info {
    padding: 10px;
    line-height: 19px;
}

/**
 * login form
 */
.login-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}

.login-form button[type="button"],
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    margin-bottom: 7px;

    /* include border-width in sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-button {
    background: #3c3c50;
    color: white;
    border: none;
    height: 40px;
    display: block;
    margin-top: 5px;
    border-radius: 4px;
}

.login-button:active {
    padding: 0;
}

.login-button:hover {
    background: #333344;
}

.login-button.loading {
    background: #3c3c50;
}

.login-button.failed {
    background: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.login-button.info {
    background: #d9edf7;
    color: #31708f;
    border: 1px solid #bce8f1;
}

.flip-horizontal {
    transform: scaleX(-1);
}

/* different cursor for clickable stuff */
.shortcuts i,
.logout,
.widget .widget-header {
    cursor: pointer;
}

/**
 * account-info: username, logout, help button etc.
 */
.account-info .user-name {
    /* don't wrap but put dots at the end if it doesn't fit */
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 150px);
    display: inline-block;
    text-overflow: ellipsis;
}

.logout {
    font-size: 11px;
    font-weight: bold;
    float: left;
}

.logout:hover {
    text-decoration: underline;
}

/**
 * widgets styling
 */
.widget .widget-title {
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    padding: 0 10px;
}

/* show different icons depending on whether the widget is open */
.widget .widget-title {
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
}
.widget[data-opened="true"] .widget-title {
    background-image: url("../img/arrow-up.png");
}
.widget[data-opened="false"] .widget-title {
    background-image: url("../img/arrow-down.png");
}
.container.static .widget[data-opened] .widget-title {
    background-image: none;
}

.widget .widget-header {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    margin-top: -1px;

    /* set a gradient background for widget headers */
    background-color: #f3f3f3;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e9e9e9));
    background-image: -webkit-linear-gradient(top, #fafafa, #e9e9e9);
    background-image: -o-linear-gradient(top, #fafafa, #e9e9e9);
    background-image: -moz-linear-gradient(top, #fafafa, #e9e9e9);
    background-image: linear-gradient(to bottom, #fafafa, #e9e9e9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffafafa", endColorstr="#ffe9e9e9", GradientType=0);
}

.widget-title .fa {
    margin-right: .3em;
}

.widget .widget-icon {
    display: inline-block;
}

.widget.busy .widget-icon {
    display: none;
}

.widget.unauthorized .widget-icon {
    display: none;
}

.widget .busy-icon {
    display: none;
}

.widget.busy .busy-icon {
  display: inline-block;
}

.widget .unauthorized-icon {
  display: none;
}

.widget.unauthorized .unauthorized-icon {
    display: inline-block;
}

.widget.unauthorized .widget-content {
    display: none;
}

.widget .unauthorized-warning {
  display: none;
}

.widget-content .form {
    padding: 2px 10px 14px;
}

.widget-content .form label {
    font-size: 14px;
    font-weight: bold;
}

.form-inline .radio {
    display: inline-block;
}

.widget-content ul {
    margin: 0;
    padding: 0;
}

.widget-content li:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.widget-content li {
    list-style-type: none;
    cursor: pointer;
}

.widget-content .empty-list li {
    cursor: auto;
    overflow: hidden;
}

.unauthorized-warning {
    padding: 14px 10px 14px;
    font-size: 14px;
}

/**
 * widget: availability
 */
.availability-toggle {
    padding: 10px 0;
}
.availability-toggle > label {
    margin-right: 10px;
}
.availability-toggle .radio {
    margin-left: 10px;
}
.availability-toggle .radio .form-control {
    margin-right: 5px;
}

.availability-destination .form-control {
    width: 100%;

    /* include border-width in sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * widget: contacts
 */
.widget.contacts.unauthorized .search-form {
    display: none;
}

.widget.contacts .connection-icon {
      display: none;
}

.contacts .search-form {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 0;
    right: 35px;
}

.contacts .search-form .search-button {
    height: 32px;
    line-height: 32px;
    position: absolute;
    left: .4em;
    top: 12.5%;
}

.contacts .search-form .form-control {
    width: 100%;
    padding-left: 28px;
    background: #F9F9F9;
    border: 1px solid #dddddd;

    /* include border-width in sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contacts .list {
    margin: 0;
    padding: 0;

    /* show a scrollbar after +/- 5 contacts */
    max-height: 210px;
    overflow: auto;
}

.contacts .contact {
    border-bottom: 1px solid #dddddd;
    margin: 0;
    height: auto;
    padding: 3px 7px 2px;
    line-height: normal;
}

.contacts .contact .status-icon {
    margin: 5px 0 0 5px;
    width: 30px;
    line-height: 31px;
    color: #778899;
}

.status-icon.busy .fa,
.status-icon.ringing .fa {
    color: #ea0000;
}

.status-icon.available .fa {
    color: #008000;
}

.contacts .contact {
    overflow: hidden;
    cursor: default;
}

.contacts .contact .info {
    margin-left: 30px;
}
.contacts .contact .name {
    font-weight: bold;
}
.contacts .contact .extension {
    color: #9b9c9e;
    font-weight: normal;
}

.contacts .empty-list li,
.contacts .not-found-contacts li {
    height: 43px;
    line-height: 43px;
}

.contacts .contact .extension,
.contacts .contact .name {
    display: inline-block;
}

.contacts .contact .status-icon,
.contacts .contact .extension,
.contacts .contact .name {
    cursor: pointer;
}

/**
 * widget: queues
 */
.queues .queue {
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    margin: 0;
    height: 43px;
    padding: 0 10px;
    line-height: 43px;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: none;

    /* force fixed height to include border-width */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.queues .queue.selected {
    background-image: url("../img/selected.png");
}

.queues .queue .indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ea0000;
    line-height: 20px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.queues .queue .code {
    color: #78788c;
    font-weight: normal;
}

.queues .empty-list .queue .text {
    margin-left: 30px;
}

.queues .list {
    /* show a scrollbar after +/- 5 queues */
    max-height: 210px;
    overflow: auto;
}
