.account-info {
    position: absolute;
    right: 0;
}

.no-scroll {
    overflow-y: auto;
}

body {
    width: auto;
    padding: 1em;
    max-width: 620px;
}

body > div {
    min-width: 361px;
    max-width: 450px;
}

/* auto-fill height for contacts list */
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body .container:not(.hide) {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body .widget {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;

    float: left;
    width: 100%;
    box-sizing: border-box;
}

body .widget.contacts {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    flex: 1 0 40px;
    display: flex;
    flex-direction: column;
}

body .widget.contacts .widget-header {
    flex: 0 0 40px;
    display: flex;
    flex-direction: column;
    margin-left: -1px;
    margin-right: -1px;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

body .widget.contacts .search-form {
    margin-bottom: 0;
    height: 40px;
    left: 50%;
    right: 10px;
}

body .widget.contacts .search-form .search-button {
    z-index: 1;
    height: 32px;
    line-height: 32px;
    position: absolute;
    left: .4em;
    top: 12.5%;
}

body .widget.contacts .search-form .form-control {
    width: 100%;
    padding-left: 28px;
    background: #F9F9F9;
    border: 1px solid #dddddd;
    top: 12.5%;
    position: relative;

    /* include border-width in sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body .widget.contacts .widget-content {
    display: flex;
    flex-direction: column;

    margin-top: -1px;
    margin-left: -1px;
    width: 100%;
}

body .widget.contacts .list {
    overflow-x: hidden;

    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;

    overflow-x: auto;
    border-top: none;
    max-height: none;
    width: 100%;
    /* 26px = twice the padding */
    width: calc(100vw - 26px);
}

body .widget.contacts .contact {
    box-sizing: border-box;
    border-bottom: none;
    border: 1px solid #d5d5d5;
    margin-bottom: -1px;
    margin-right: -1px;
}

body .widget.contacts .contact.last {
    margin-bottom: 0;
}

body .widget.contacts .empty-list .contact,
body .widget.contacts .not-found-contacts .contact {
    height: 48px;
    box-sizing: border-box;
}


@media (max-width: 620px) {
    html {
        overflow-x: auto;
    }

    .account-info {
        right: auto;
        left: 473px;  // 13 + 450 + 10
        min-width: 144px;
        box-sizing: border-box;
    }

    body .widget.contacts .list {
        width: auto;
        margin-right: -2px;
    }
}
