// Paths.
$font-path: "../fonts";

// Dimensions: spacing units.
$spacer: 8px;

// Dimensions: Responsive queries.
$mini: 250px;
$mobile: 369px;
$widget: 400px;
$tablet: 769px;
$desktop: 960px;
$widescreen: 1152px;
$fullhd: 1344px;

// Colors: Base variable color palette; overriden by vialer-jsrc colors object.
$brand-color: #de6b35 !default;
$grey-color: #999 !default;
$primary-color: #3c3c50 !default;
$green-color: #5cb85c !default;
$red-color: #d9534f !default;

// Colors: Derivate colors from the base color palette.
$brand-tint-color: saturate(adjust-hue($brand-color, 10%), 10%);
$grey-darkest: darken($grey-color, 30%);
$grey-darker: darken($grey-color, 10%);
$grey-color-lighter: lighten($grey-color, 10%);
$grey-color-lightest: lighten($grey-color, 30%);
