@import "base/mixins";
@import "base/variables";
@import "base/containers";
@import "base/fonts";
@import "components/widget";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: rgba(0, 0, 0, 0.25);
}

.widget.callstatus {
    @include vg-modal-widget;
    width: 320px;
    height: 110px;
    margin-top: calc(50vh - 110px);
    margin-left: -160px;
    left: 50%;

    .widget-header {
        position: relative;

        span {
            line-height: $vg-widget-header-size;
        }


        .close {
            position: absolute;
            right: $vg-spacing-gap;
            line-height: $vg-widget-header-size;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .status {
        margin: 0;
        padding: $vg-spacing-gap;

        .status-label {
            color: $vg-primary-color;
            font-weight: 500;
        }
    }
}
