body {
    overflow: auto;
}

.field {
    margin-bottom: 10px;
    padding: 5px;

    label {
        font-weight: 600;
        vertical-align: center;
    }

    label + input {
        clear: both;
        display: block;
    }

    input {
        &[type="checkbox"] {
            margin-top: -3px;
            margin-right: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        &[type="text"] {
            width: 300px;
        }
    }
}

.actions {
    margin: 15px 0;

    button {
        height: 25px;
        font-weight: 600;

        &:hover {
            cursor: pointer;
        }
    }

    #status {
        float: right;
        display: block;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        line-height: 25px;

        &.hide {
            opacity: 0;
            transition: opacity 1.5s ease-in-out;
        }

    }
}
