@import "./base/variables";

@import "./base/fonts";
@import "./base/form";
@import "./base/containers";


// Chrome needs some !important force to make the styles align.
.chrome {
    overflow-y: hidden;
    padding: $vg-spacing-2;
    padding-bottom: 0;
    // Make up for the extra space that's needed for the save notifier.
    padding-top: $vg-spacing-4;

    // Windows won't calculate the width properly with a set width.
    body {
        width: auto;
    }

    input {
        &[type="text"] {
            &:focus {
                border: 1px solid $vg-grey-lighter !important;
                border-color: 1px solid $vg-grey-lighter !important;
                outline: 1px solid $vg-grey-light !important;
            }
        }
    }

    button {
        background-image: none !important;
        color: #fff !important;
        box-shadow: none !important;
        text-shadow: none !important;

        &:focus {
            outline: 0;
            border: 1px solid $vg-grey-lighter !important;
        }
    }
}

.firefox {
    body {
        font-size: 1rem;
    }
}


.options {
    button {
        width: 100%;
    }

    input {
        &[type="text"] {
            width: 100%;
        }
    }


    .field {
        padding-bottom: $vg-spacing-1;

        label {
            font-weight: 500;
            vertical-align: middle;
            display: inline-block;
            padding-bottom: $vg-spacing-1;
        }

        label + input {
            clear: both;
            display: block;
        }

        .warning {
            padding: 0;
            margin: 0;
            color: $vg-info-color-failed-dark;
            line-height: 25px;
            position: absolute;
        }
    }

    // Container for the save button.
    .actions {
        // Leave room for the platform warning, which is not part of the
        // document flow. Use padding here; not margin, otherwise the height
        // of the options dialog is not calculated correctly on Windows.
        padding-top: 20px;

        // The status indicator that says whether the settings are
        // succesfully saved or not, when saving the options.
        .status {
            float: right;
            display: block;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            line-height: 25px;

            &.hide {
                opacity: 0;
                transition: opacity 1.5s ease-in-out;
            }

        }
    }

}
