@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"); }

.nav-search {
  background-color: #f05a29;
  display: block;
  margin: 0;
  text-align: center;
  width: 100%;
  z-index: 200; }
  .nav-search .logo {
    margin: 0 auto;
    padding-top: 8px;
    vertical-align: initial;
    width: 90px; }
  .nav-search .nav-title {
    color: white;
    margin-bottom: 8px;
    text-align: center; }
    .nav-search .nav-title h1 {
      margin: 0; }
    .nav-search .nav-title .version {
      color: white;
      font-size: 0.8rem;
      font-weight: 500; }
  .nav-search input {
    background: white;
    border: 1px solid #f2f2f2;
    font-size: 0.9rem;
    outline: none;
    padding: 12px 16px;
    width: 100%; }
  .nav-search a {
    color: #fff; }
  .nav-search ul {
    background-color: white;
    font-size: 0.9rem;
    max-width: 600px;
    position: absolute;
    width: 100%;
    z-index: 10000; }
  .nav-search ul.searched-list {
    background: white;
    margin-top: 1px;
    overflow: hidden; }
    .nav-search ul.searched-list li {
      align-items: center;
      border: 0;
      cursor: pointer;
      display: flex; }
      .nav-search ul.searched-list li strong {
        color: #f05a29;
        font-weight: normal; }
      .nav-search ul.searched-list li:hover, .nav-search ul.searched-list li.highlight {
        background-color: #f2f2f2; }
        .nav-search ul.searched-list li:hover a, .nav-search ul.searched-list li.highlight a {
          color: #1f292e; }
        .nav-search ul.searched-list li:hover strong, .nav-search ul.searched-list li.highlight strong {
          color: #f7a388; }
      .nav-search ul.searched-list li .group {
        color: #f98644;
        flex: 1;
        font-size: 0.8rem;
        padding-right: 16px; }
      .nav-search ul.searched-list li a {
        color: #a6a6a6;
        display: block;
        padding: 8px 16px;
        text-align: left;
        width: 100%; }

.navigation-sidebar-container {
  height: 100vh;
  min-width: 350px; }
  .navigation-sidebar-container .navigation-sidebar {
    background: #f2f2f2;
    height: 100vh;
    position: fixed;
    width: 300px;
    z-index: 200; }
    .navigation-sidebar-container .navigation-sidebar ul, .navigation-sidebar-container .navigation-sidebar ol, .navigation-sidebar-container .navigation-sidebar li {
      list-style: none;
      margin-left: 0;
      padding-left: 0; }
    .navigation-sidebar-container .navigation-sidebar > * {
      user-select: none; }
    .navigation-sidebar-container .navigation-sidebar .async {
      color: #f98644;
      font-size: 0.8rem;
      font-style: italic;
      font-weight: bold; }
    .navigation-sidebar-container .navigation-sidebar .nav-scroll-container {
      max-height: calc(100vh - 258px);
      overflow-y: auto;
      position: relative; }
      .navigation-sidebar-container .navigation-sidebar .nav-scroll-container .nav-api a {
        color: #666;
        font-size: 0.8rem; }
    .navigation-sidebar-container .navigation-sidebar .nav-items {
      margin: 0;
      padding: 0; }
      .navigation-sidebar-container .navigation-sidebar .nav-items .nav-item a {
        display: block; }
        .navigation-sidebar-container .navigation-sidebar .nav-items .nav-item a:hover, .navigation-sidebar-container .navigation-sidebar .nav-items .nav-item a.selected {
          background: #fff;
          color: #f05a29; }
        .navigation-sidebar-container .navigation-sidebar .nav-items .nav-item a.selected {
          font-weight: 500; }
      .navigation-sidebar-container .navigation-sidebar .nav-items .nav-item .sub-nav-item {
        font-size: 0.9rem; }
    .navigation-sidebar-container .navigation-sidebar .nav-doc-type {
      display: flex;
      flex-direction: column;
      margin: 0; }
      .navigation-sidebar-container .navigation-sidebar .nav-doc-type .nav-doc-item {
        background: white;
        border-bottom: 1px solid #a6a6a6;
        font-size: 0.9rem;
        width: 100%; }
        .navigation-sidebar-container .navigation-sidebar .nav-doc-type .nav-doc-item:hover {
          border-bottom: 1px solid #bfbfbf;
          cursor: pointer; }
        .navigation-sidebar-container .navigation-sidebar .nav-doc-type .nav-doc-item a {
          color: #666;
          display: block;
          font-weight: 500;
          padding: 12px 16px; }
        .navigation-sidebar-container .navigation-sidebar .nav-doc-type .nav-doc-item.selected {
          background: #f05a29;
          border-bottom: 1px solid #f37f59; }
          .navigation-sidebar-container .navigation-sidebar .nav-doc-type .nav-doc-item.selected a {
            color: white; }
            .navigation-sidebar-container .navigation-sidebar .nav-doc-type .nav-doc-item.selected a:hover {
              cursor: default; }
    .navigation-sidebar-container .navigation-sidebar .nav-api h3 {
      background: #f98644;
      border-bottom: 1px solid #fba675;
      color: #fff;
      display: block;
      font-size: 0.8rem;
      margin: 0;
      padding: 12px 16px;
      text-transform: uppercase; }
    .navigation-sidebar-container .navigation-sidebar .nav-api .nav-item {
      font-size: 0.85rem; }
      .navigation-sidebar-container .navigation-sidebar .nav-api .nav-item a,
      .navigation-sidebar-container .navigation-sidebar .nav-api .nav-item a:visited {
        line-height: 16px;
        padding: .3rem;
        padding-left: 1.5rem; }
      .navigation-sidebar-container .navigation-sidebar .nav-api .nav-item a.selected {
        background: #fff; }
        .navigation-sidebar-container .navigation-sidebar .nav-api .nav-item a.selected a {
          color: #f05a29; }
      .navigation-sidebar-container .navigation-sidebar .nav-api .nav-item span.fa-minus + a:not(.selected) {
        background: white;
        color: #f98644; }
    .navigation-sidebar-container .navigation-sidebar .nav-manuals h3 {
      background: #f98644;
      color: #fff;
      display: block;
      font-size: 0.8rem;
      margin: 0;
      padding: 12px 16px;
      text-transform: uppercase; }
    .navigation-sidebar-container .navigation-sidebar .nav-manuals .nav-item {
      font-size: 0.9rem;
      font-weight: 500; }
      .navigation-sidebar-container .navigation-sidebar .nav-manuals .nav-item.tutorial a {
        color: #595959; }
        .navigation-sidebar-container .navigation-sidebar .nav-manuals .nav-item.tutorial a:hover {
          color: #f05a29; }
      .navigation-sidebar-container .navigation-sidebar .nav-manuals .nav-item.selected {
        background: #fff; }
        .navigation-sidebar-container .navigation-sidebar .nav-manuals .nav-item.selected a {
          color: #f05a29; }
      .navigation-sidebar-container .navigation-sidebar .nav-manuals .nav-item .toggle-subnav {
        display: none; }
      .navigation-sidebar-container .navigation-sidebar .nav-manuals .nav-item a {
        color: #a6a6a6;
        display: block;
        padding: 12px 16px; }
    .navigation-sidebar-container .navigation-sidebar .nav-item-sub {
      background: white; }
      .navigation-sidebar-container .navigation-sidebar .nav-item-sub .member-type {
        color: #404040;
        cursor: text;
        font-size: 0.8rem;
        font-style: italic;
        font-weight: 500;
        margin-left: 1.5rem;
        padding: 0.2rem 0; }
      .navigation-sidebar-container .navigation-sidebar .nav-item-sub .inner li {
        border-bottom: 0;
        color: #bbb;
        margin: 0;
        padding-bottom: 0;
        padding-top: 0; }
      .navigation-sidebar-container .navigation-sidebar .nav-item-sub .inner a {
        color: #595959;
        padding-left: 1.8rem; }
        .navigation-sidebar-container .navigation-sidebar .nav-item-sub .inner a:hover {
          background: white; }
    .navigation-sidebar-container .navigation-sidebar span.toggle-subnav {
      color: #f05a29;
      font-size: 8px;
      height: 24px;
      left: 2px;
      line-height: 24px;
      position: absolute;
      text-align: center;
      width: 18px; }
      .navigation-sidebar-container .navigation-sidebar span.toggle-subnav:hover {
        cursor: hand;
        outline: 0; }
  .navigation-sidebar-container .navicon-button {
    cursor: pointer;
    display: none;
    opacity: .8;
    padding: 2 1.5rem;
    position: relative;
    transition: 0.25s;
    user-select: none; }
  .navigation-sidebar-container .navicon-button .navicon:before, .navigation-sidebar-container .navicon-button .navicon:after {
    transition: 0.25s; }
  .navigation-sidebar-container .navicon-button:hover {
    opacity: 1;
    transition: 0.5s; }
  .navigation-sidebar-container .navicon-button:hover .navicon:before, .navigation-sidebar-container .navicon-button:hover .navicon:after {
    transition: 0.25s; }
  .navigation-sidebar-container .navicon-button:hover .navicon:before {
    top: .825rem; }
  .navigation-sidebar-container .navicon-button:hover .navicon:after {
    top: -.825rem; }
  .navigation-sidebar-container .navicon {
    background: #f98644;
    border-radius: 2.5rem;
    box-shadow: 1px 1px 2px #000;
    height: .3125rem;
    position: relative;
    transition: 0.3s;
    width: 2.5em; }
    .navigation-sidebar-container .navicon:before, .navigation-sidebar-container .navicon:after {
      background: #f98644;
      border-radius: 1rem;
      box-shadow: 1px 1px 2px #000;
      content: "";
      display: block;
      height: .3125rem;
      position: absolute;
      transition: 0.3s 0.25s;
      width: 2.5rem;
      z-index: -1; }
    .navigation-sidebar-container .navicon:before {
      top: .625rem; }
    .navigation-sidebar-container .navicon:after {
      top: -.625rem; }
  .navigation-sidebar-container .nav-trigger:checked + label:not(.steps) .navicon:before,
  .navigation-sidebar-container .nav-trigger:checked + label:not(.steps) .navicon:after {
    top: 0; }
  .navigation-sidebar-container .nav-trigger:checked + label .navicon:before,
  .navigation-sidebar-container .nav-trigger:checked + label .navicon:after {
    transition: 0.5s; }
  .navigation-sidebar-container .nav-trigger:checked + label {
    transform: scale(0.75); }
  .navigation-sidebar-container .nav-trigger:checked + label.plus .navicon,
  .navigation-sidebar-container .nav-trigger:checked + label.x .navicon {
    background: transparent;
    box-shadow: none; }
  .navigation-sidebar-container .nav-trigger:checked + label.plus .navicon:before,
  .navigation-sidebar-container .nav-trigger:checked + label.x .navicon:before {
    background: #fff;
    transform: rotate(-45deg); }
  .navigation-sidebar-container .nav-trigger:checked + label.plus .navicon:after,
  .navigation-sidebar-container .nav-trigger:checked + label.x .navicon:after {
    -webkit-transform: rotate(45deg);
    background: #fff;
    transform: rotate(45deg); }
  .navigation-sidebar-container .nav-trigger:checked + label.plus {
    transform: scale(0.75) rotate(45deg); }
  .navigation-sidebar-container .nav-trigger:checked ~ nav {
    left: 0; }
  .navigation-sidebar-container .nav-trigger:checked ~ .overlay {
    display: block; }
  .navigation-sidebar-container .nav-trigger {
    clip: rect(0, 0, 0, 0);
    position: fixed;
    top: 0; }
  .navigation-sidebar-container .overlay {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1; }
  @media only screen and (min-width: 320px) and (max-width: 680px) {
    .navigation-sidebar-container body {
      overflow-x: hidden; }
      .navigation-sidebar-container body .main-container {
        margin-left: 0; }
        .navigation-sidebar-container body .main-container .content {
          margin: 0;
          padding: 0.5rem;
          width: 100%; }
    .navigation-sidebar-container nav {
      left: calc(-100% - 100px);
      transition: left 0.2s;
      width: calc(100% - 100px);
      z-index: 3; }
      .navigation-sidebar-container nav .nav-scroll-container {
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative; }
    .navigation-sidebar-container .navicon-button {
      display: inline-block;
      position: fixed;
      right: 0;
      top: 1.5em;
      z-index: 2; }
    .navigation-sidebar-container footer {
      margin-left: 0; } }
  @media only screen and (min-width: 680px) {
    .navigation-sidebar-container body .main-container .nav-trigger:checked ~ .overlay {
      display: none; } }

.details pre.prettyprint {
  margin: 0; }

.prettyprint {
  font-size: 0.8rem;
  overflow: auto;
  padding: 0.5rem; }
  .prettyprint.source {
    width: inherit;
    line-height: 18px;
    display: block;
    background-color: #404040;
    color: #a6a6a6; }
  .prettyprint code {
    line-height: 18px;
    color: #4d4e53; }
  .prettyprint .linenums code {
    padding: 0 15px; }
  .prettyprint .linenums li:first-of-type code {
    padding-top: 15px; }
  .prettyprint code span.line {
    display: inline-block; }
  .prettyprint.linenums {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .prettyprint.linenums .number {
      width: 20px;
      display: block;
      float: left; }
    .prettyprint.linenums ol {
      padding-left: 0; }
    .prettyprint.linenums li.selected,
    .prettyprint.linenums li.selected * {
      background-color: #d05007; }
    .prettyprint.linenums li * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text; }

.pln {
  color: #ddd !important; }

.str {
  color: #fee6d8; }

.kwd {
  color: #f98644; }

.com {
  color: #aeaeae; }

.typ {
  color: #8da6ce; }

.lit {
  color: #fbde2d; }

.pun {
  color: #ddd; }

.opn {
  color: #000; }

.clo {
  color: #000; }

.tag {
  color: #8da6ce; }

.atn {
  color: #fbde2d; }

.atv {
  color: #ddd; }

.dec {
  color: #ef5050; }

.var {
  color: #c82829; }

.fun {
  color: #4271ae; }

.linenums {
  margin-top: 0;
  margin-bottom: 0; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #4d4e53;
  display: grid;
  font-family: "Roboto";
  font-size: 0.95rem;
  grid-template-columns: 300px auto;
  height: 100vh; }

* {
  box-sizing: border-box; }

a,
a:visited,
a:active {
  color: #f98644;
  text-decoration: none; }

h1 {
  font-size: 1.8rem;
  letter-spacing: -2px;
  text-transform: uppercase; }

h2 {
  color: #f05a29;
  font-size: 1.4rem;
  font-weight: 500; }

h3 {
  font-size: 1.2rem;
  font-weight: 500; }

h4 {
  color: #4d4e53;
  font-size: 1rem; }

h5 {
  font-size: 1rem;
  font-weight: 500; }

h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0; }

header {
  display: block; }
  header h2 {
    font-size: 1.5rem;
    margin-bottom: 0; }
  header .class-description {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }
    header .class-description p {
      margin-top: 0; }

hr {
  border: 0;
  border-top: 1px solid #e1e4e5;
  display: block;
  height: 1px;
  margin: 24px 0;
  padding: 0; }

article img {
  max-height: 250px;
  max-width: 20%; }

article dl {
  margin-bottom: 40px; }

section {
  display: block;
  padding: 12px 24px; }

table {
  border: 1px solid #f2f2f2;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9rem; }
  table td, table th {
    display: table-cell;
    margin: 0;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top; }
  table thead tr {
    background-color: #f2f2f2;
    border-bottom: 1px solid #d9d9d9;
    color: #666; }
    table thead tr th {
      border-right: 0;
      font-size: 0.8rem;
      font-weight: 500;
      text-transform: uppercase; }

.content-container .content {
  line-height: 1.6rem;
  margin-top: 0;
  max-width: 850px;
  padding: 8px 16px; }
  .content-container .content table {
    width: 100%; }
  .content-container .content h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 32px; }
  .content-container .content h2 {
    font-size: 1.2rem;
    margin-bottom: 4px;
    margin-top: 0; }
  .content-container .content .breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px; }
    .content-container .content .breadcrumbs li {
      float: left;
      padding: 5px 5px; }
  .content-container .content footer {
    display: block;
    font-style: italic; }

.class-description {
  font-size: 0.9rem;
  font-style: italic;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em; }

.class-description:empty {
  margin: 0; }

.variation {
  display: none; }

.signature-attributes {
  color: #fff;
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 500; }

.ancestors a {
  color: #f2f2f2;
  text-decoration: none; }

.clear {
  clear: both; }

.important {
  color: #950b02;
  font-weight: bold; }

.yes-def {
  text-indent: -1000px; }

.details {
  border-left: 1px solid #ddd;
  margin-top: 14px; }
  .details dt {
    float: left;
    padding-left: 10px;
    padding-top: 6px;
    width: 120px; }
  .details ul {
    list-style-type: none;
    margin: 0; }
  .details li {
    margin-left: 30px;
    padding-top: 6px; }
  .details .object-value {
    padding-top: 0; }

.code-caption {
  font-size: 107%;
  font-style: italic;
  margin: 0; }

.params .name,
.props .name,
.name code {
  color: #f98644;
  font-size: 100%; }

.params td.description > p:first-child,
.props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0; }

.params td.description > p:last-child,
.props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0; }

.disabled {
  color: #454545; }

.subsection-title {
  font-size: 1.1rem;
  margin: 0;
  margin-top: 32px; }
  .subsection-title i {
    font-size: 1.2rem;
    margin-right: 8px;
    margin-top: 0.1rem; }

.hidden {
  display: none; }

.invisible {
  opacity: 0; }

dt h4.name {
  background: #f98644;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  color: #fff;
  font-size: 0.9rem;
  margin: 0;
  padding: 8px 8px; }
  dt h4.name .async {
    vertical-align: bottom; }
  dt h4.name .source {
    display: block;
    float: right;
    font-size: 1.2rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem; }
  dt h4.name .type-signature {
    color: #fff; }
  dt h4.name .signature {
    color: #fff;
    padding-left: 5px; }
  dt h4.name a {
    color: #fff;
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 1rem; }

dd {
  margin-left: 0; }

.container-returns h5,
.container-params h5 {
  margin: 0; }
