@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Regular.ttf"); }

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf"); }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: bold; }

.nav-search {
  width: 100%;
  height: 130px;
  margin: 0;
  z-index: 200;
  background-color: #2980b9;
  text-align: center;
  display: block;
  color: #fcfcfc;
  padding: 10px 0; }
  .nav-search .logo {
    width: 90px;
    vertical-align: initial;
    margin: 0 auto;
    margin-bottom: 1rem; }
  .nav-search input {
    border: 0;
    border-radius: 15px;
    padding: 7px 15px;
    width: 95%; }
  .nav-search a {
    color: #fff; }
  .nav-search strong {
    color: #6ab0de;
    font-weight: normal; }
  .nav-search ul {
    font-size: 0.9rem;
    position: absolute;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.9);
    z-index: 10000; }
  .nav-search ul.searched-list {
    margin-top: 15px; }
    .nav-search ul.searched-list li {
      text-align: left;
      width: 100%;
      overflow: hidden;
      border: 0;
      margin: 0;
      cursor: pointer;
      padding: 0.5rem; }
      .nav-search ul.searched-list li:hover, .nav-search ul.searched-list li.highlight {
        background-color: #fff; }
        .nav-search ul.searched-list li:hover a, .nav-search ul.searched-list li.highlight a {
          color: #1f292e; }
        .nav-search ul.searched-list li:hover strong, .nav-search ul.searched-list li.highlight strong {
          color: #6ab0de; }
        .nav-search ul.searched-list li:hover .group, .nav-search ul.searched-list li.highlight .group {
          color: #777; }
      .nav-search ul.searched-list li .group {
        font-size: 11px;
        color: #ccc;
        margin-left: 10px; }
      .nav-search ul.searched-list li a {
        color: #fff;
        padding: 1rem;
        padding-left: 1rem; }
      .nav-search ul.searched-list li span.group {
        float: right; }

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
  background: #343131;
  z-index: 200; }
  nav > * {
    user-select: none; }
  nav .async {
    font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
    color: #2980b9; }
  nav .scroll {
    width: 320px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 235px); }
  nav ul.nav-items {
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none; }
  nav .nav-main {
    text-align: center;
    height: 50px; }
    nav .nav-main .link {
      color: #d6d6d6; }
  nav h3 {
    line-height: 1.5rem;
    color: #555;
    margin: 0;
    margin-top: 10px;
    margin-left: 0.5rem;
    text-transform: uppercase; }
  nav .nav-tab {
    text-align: center;
    margin: 0;
    height: 40px; }
    nav .nav-tab li {
      display: inline-block;
      padding: 0.5rem; }
      nav .nav-tab li.selected a h4 {
        color: #d6d6d6; }
  nav .nav-api h3 {
    font-size: 0.85rem;
    margin: .5rem 0.4rem; }
  nav .nav-item a,
  nav .nav-item a:visited,
  nav .nav-item a:active {
    font-size: 0.9rem;
    line-height: 18px;
    padding: .2rem;
    padding-left: 1.5rem;
    color: #b3b3b3;
    display: block; }
  nav .nav-item a.selected,
  nav .nav-item a.selected:hover {
    background: #fcfcfc;
    color: #343131;
    font-weight: bold; }
  nav .nav-item a:hover {
    background: #4e4a4a; }
  nav .nav-item span.fa-minus + a:not(.selected) {
    background: #d6d6d6;
    color: #343131;
    font-weight: bold; }
  nav .nav-item-sub {
    background: #eee; }
    nav .nav-item-sub .member-type {
      padding: 0.2rem 0;
      font-size: 0.9rem;
      margin-left: 1.5rem;
      color: #2980b9;
      font-weight: normal;
      cursor: text; }
    nav .nav-item-sub .inner li {
      margin: 0;
      border-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      color: #bbb; }
    nav .nav-item-sub .inner a {
      padding-left: 1.8rem;
      color: #4e4a4a; }
      nav .nav-item-sub .inner a:hover {
        background: #d6d6d6; }
  nav span.toggle-subnav {
    font-size: 10px;
    position: absolute;
    width: 18px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    left: 2px; }
    nav span.toggle-subnav:hover {
      outline: 0;
      color: #d6d6d6;
      cursor: hand; }
  nav .version {
    color: #aaa; }

.navicon-button {
  display: none;
  position: relative;
  padding: 2 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: .8; }

.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s; }

.navicon-button:hover {
  transition: 0.5s;
  opacity: 1; }

.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.25s; }

.navicon-button:hover .navicon:before {
  top: .825rem; }

.navicon-button:hover .navicon:after {
  top: -.825rem; }

.navicon {
  position: relative;
  width: 2.5em;
  height: .3125rem;
  background: #2980b9;
  transition: 0.3s;
  border-radius: 2.5rem;
  box-shadow: 1px 1px 2px #000; }
  .navicon:before, .navicon:after {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.5rem;
    background: #2980b9;
    position: absolute;
    z-index: -1;
    transition: 0.3s 0.25s;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px #000; }
  .navicon:before {
    top: .625rem; }
  .navicon:after {
    top: -.625rem; }

.nav-trigger:checked + label:not(.steps) .navicon:before,
.nav-trigger:checked + label:not(.steps) .navicon:after {
  top: 0; }

.nav-trigger:checked + label .navicon:before,
.nav-trigger:checked + label .navicon:after {
  transition: 0.5s; }

.nav-trigger:checked + label {
  transform: scale(0.75); }

.nav-trigger:checked + label.plus .navicon,
.nav-trigger:checked + label.x .navicon {
  background: transparent;
  box-shadow: none; }

.nav-trigger:checked + label.plus .navicon:before,
.nav-trigger:checked + label.x .navicon:before {
  transform: rotate(-45deg);
  background: #fff; }

.nav-trigger:checked + label.plus .navicon:after,
.nav-trigger:checked + label.x .navicon:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff; }

.nav-trigger:checked + label.plus {
  transform: scale(0.75) rotate(45deg); }

.nav-trigger:checked ~ nav {
  left: 0; }

.nav-trigger:checked ~ .overlay {
  display: block; }

.nav-trigger {
  position: fixed;
  top: 0;
  clip: rect(0, 0, 0, 0); }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; }

@media only screen and (min-width: 320px) and (max-width: 680px) {
  body {
    overflow-x: hidden; }
    body .main-container {
      margin-left: 0; }
      body .main-container .content {
        width: 100%;
        margin: 0;
        padding: 0.5rem; }
  nav {
    width: calc(100% - 100px);
    left: calc(-100% - 100px);
    z-index: 3;
    transition: left 0.2s; }
    nav .scroll {
      width: calc(100% + 20px);
      position: relative;
      overflow-x: hidden;
      overflow-y: scroll;
      height: calc(100% - 235px); }
  .navicon-button {
    display: inline-block;
    position: fixed;
    top: 1.5em;
    right: 0;
    z-index: 2; }
  footer {
    margin-left: 0; } }

@media only screen and (min-width: 680px) {
  body .main-container .nav-trigger:checked ~ .overlay {
    display: none; } }

.details pre.prettyprint {
  margin: 0; }

.prettyprint {
  font-size: 0.8rem;
  overflow: auto;
  padding: 0.5rem; }
  .prettyprint.source {
    width: inherit;
    line-height: 18px;
    display: block;
    background-color: #343131;
    color: #d6d6d6; }
  .prettyprint code {
    line-height: 18px;
    color: #4d4e53; }
  .prettyprint .linenums code {
    padding: 0 15px; }
  .prettyprint .linenums li:first-of-type code {
    padding-top: 15px; }
  .prettyprint code span.line {
    display: inline-block; }
  .prettyprint.linenums {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .prettyprint.linenums .number {
      width: 20px;
      display: block;
      float: left; }
    .prettyprint.linenums ol {
      padding-left: 0; }
    .prettyprint.linenums li.selected,
    .prettyprint.linenums li.selected * {
      background-color: #164666; }
    .prettyprint.linenums li * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text; }

.pln {
  color: #ddd !important; }

.str {
  color: #94c6e7; }

.kwd {
  color: #2980b9; }

.com {
  color: #aeaeae; }

.typ {
  color: #8da6ce; }

.lit {
  color: #fbde2d; }

.pun {
  color: #ddd; }

.opn {
  color: #000; }

.clo {
  color: #000; }

.tag {
  color: #8da6ce; }

.atn {
  color: #fbde2d; }

.atv {
  color: #ddd; }

.dec {
  color: #ef5050; }

.var {
  color: #c82829; }

.fun {
  color: #4271ae; }

.linenums {
  margin-top: 0;
  margin-bottom: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.5;
  color: #4d4e53;
  background-color: #fff; }

* {
  box-sizing: border-box; }

a,
a:visited,
a:active {
  color: #2980b9;
  text-decoration: none; }

ul, ol, li {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }

h1, h2, h3, h4 {
  font-family: "Roboto Slab";
  margin: 0;
  font-weight: bold; }

h1 {
  font-size: 1.5rem;
  letter-spacing: -2px; }

h2 {
  font-size: 1rem; }

h3 {
  font-size: 1rem;
  font-weight: bold; }

h4 {
  font-size: 1rem;
  color: #4d4e53; }

h5 {
  font-size: 1rem; }

header {
  display: block; }
  header h2 {
    font-size: 1.5rem;
    margin-bottom: 0; }
  header .class-description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
    header .class-description p {
      margin-top: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e1e4e5;
  margin: 24px 0;
  padding: 0; }

article dl {
  margin-bottom: 40px; }

article p {
  margin: 1rem 0; }

section {
  display: block;
  padding: 12px 24px; }

table {
  border-spacing: 0;
  border: 1px solid #efefef;
  border-collapse: collapse;
  font-size: 0.9rem; }
  table td, table th {
    margin: 0;
    text-align: left;
    vertical-align: top;
    padding: 5px 6px;
    display: table-cell; }
  table thead tr {
    background-color: #efefef;
    border-bottom: 1px solid #ddd;
    font-weight: bold; }
    table thead tr th {
      border-right: 0; }

.main-container {
  margin-left: 292px;
  background: #fcfcfc;
  min-height: 100%; }
  .main-container .content {
    padding: 1rem 3rem;
    background: #fcfcfc;
    min-height: 100%;
    max-width: 850px; }
    .main-container .content table {
      width: 100%; }
    .main-container .content .breadcrumbs {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-bottom: 20px; }
      .main-container .content .breadcrumbs li {
        float: left;
        padding: 5px 5px; }
    .main-container .content footer {
      display: block;
      font-style: italic;
      font-size: 90%; }

.class-description {
  font-size: 1rem;
  line-height: 140%;
  margin-bottom: 1em;
  margin-top: 1em; }

.class-description:empty {
  margin: 0; }

.variation {
  display: none; }

.signature-attributes {
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter; }

.ancestors {
  color: #999; }
  .ancestors a {
    color: #999;
    text-decoration: none; }

.clear {
  clear: both; }

.important {
  font-weight: bold;
  color: #950b02; }

.yes-def {
  text-indent: -1000px; }

.type-signature {
  color: #aaa; }

.details {
  margin-top: 14px;
  border-left: 1px solid #ddd; }
  .details dt {
    width: 120px;
    float: left;
    padding-left: 10px;
    padding-top: 6px; }
  .details ul {
    list-style-type: none;
    margin: 0; }
  .details li {
    margin-left: 30px;
    padding-top: 6px; }
  .details .object-value {
    padding-top: 0; }

.description {
  margin-bottom: 1em;
  margin-top: 1em; }

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0; }

.params .name,
.props .name,
.name code {
  color: #4d4e53;
  font-size: 100%; }

.params td.description > p:first-child,
.props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0; }

.params td.description > p:last-child,
.props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0; }

.disabled {
  color: #454545; }

.subsection-title {
  font-size: 1rem;
  margin: 0;
  margin-top: 3rem; }
  .subsection-title i {
    position: absolute;
    margin-left: -1.7rem;
    margin-top: 0.1rem;
    font-size: 1.2rem; }

.hidden {
  display: none; }

.invisible {
  opacity: 0; }

dt h4.name {
  color: #fff;
  background: #2980b9;
  box-shadow: 0 0.25em 0.5em #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding: .75em 0 .75em 10px;
  margin-top: .5rem; }
  dt h4.name .async {
    vertical-align: bottom; }
  dt h4.name .source {
    float: right;
    padding-right: 0.5rem;
    font-size: 1.2rem;
    padding-top: 0.1rem;
    display: block; }
  dt h4.name .type-signature {
    color: #94c6e7; }
  dt h4.name .signature {
    color: #94c6e7;
    padding-left: 5px; }
  dt h4.name a {
    font-size: 0.8rem;
    margin-left: 1rem;
    color: #fff;
    font-style: italic; }

dd {
  margin-left: 0; }

.container-returns h5,
.container-params h5 {
  margin: 1.5rem 0 0.3rem 0; }
