@import "vialer-js/lib/mixins";
@import "vialer-js/lib/variables";

.component-contacts {

    .contacts-options {
        display: flex;

        input {
            margin-right: $spacer * 2;
        }

        .display-mode {
            display: flex;
            flex-direction: column;
            height: 36px;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }

            &.active {
                svg {
                    color: $brand-color;
                }
            }

            svg {
                @include icon-size($spacer * 4);
                color: $grey-color-light;
                padding-left: $spacer;
            }

        }
    }


    .contacts-list {
        display: flex;
        flex-flow: row wrap;
        flex-wrap: wrap;


        .contact {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: $spacer 0;
            position: relative;

            .contact-representation {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;

                .endpoint-container {
                    .endpoint-status-led {
                        height: $spacer * 4;
                    }
                }
            }

            .contact-info {
                display: flex;
                flex: 1;
                flex-direction: column;
                // Required to have ellipsis text overflow on .name.
                min-width: 0;

                .name {
                    color: $grey-color-darker;
                    flex: 1;
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .description {
                    color: $grey-color-light;
                    font-size: 0.9rem;
                }
            }

            .contact-specials {
                .favorite {
                    color: $yellow-color;
                }
            }
        }


        // The most dense mode. A Contact takes up a third of the row.
        &.dense {
            .contact {
                width: calc(100% / 3);

                .contact-representation {
                    margin-right: $spacer / 2;

                    .endpoint-container {
                        .endpoint-status-led {
                            width: 3px;
                        }
                    }
                }

                .contact-options {
                    flex-direction: column-reverse;
                    height: 100%;
                    justify-content: center;
                    margin-right: $spacer / 2;
                }
            }
        }

        // Expanded mode. A Contact takes up the whole row.
        &.lean {
            .contact {
                width: 100%;

                .contact-representation {
                    align-items: center;

                    display: flex;
                    height: $spacer * 6;
                    justify-content: left;
                    margin-right: $spacer;
                    position: relative;
                    width: $spacer * 6;

                    .endpoint-status-icon {
                        bottom: 0;
                        position: absolute;
                        right: $spacer / 4;
                    }

                    .placeholder {
                        @include icon-size($spacer * 5);
                        background: $grey-color-lightest;
                        border-radius: 50%;
                        color: $grey-color-light;
                        padding: $spacer / 2;
                    }
                }
            }
        }

        // An in-between display mode. A Contact takes up halve the row.
        &.regular {
            .contact {
                width: 50%;

                .contact-representation {
                    margin-right: $spacer / 2;
                    padding: $spacer / 4;
                }

                .endpoint-status-led {
                    height: $spacer * 4;
                    width: $spacer / 2;
                }
            }
        }
    }
}


.endpoint-status-icon {
    @include icon-size($spacer * 2);

    &.unregistered {
        path[pid="0"] {fill: $grey-color-light;}
        path[pid="1"] {fill: $grey-color-lightest;}
    }

    &.unavailable,
    &.no-results {
        path[pid="0"] {fill: $grey-color;}
        path[pid="1"] {fill: $white;}
    }

    &.busy {
        path[pid="0"] {fill: $red-color;}
        path[pid="1"] {fill: $white;}
    }

    &.available {
        path[pid="0"] {fill: $green-color;}
        path[pid="1"] {fill: $white;}
    }

    &.ringing {
        animation: ringing-svg .75s ease-in-out infinite;

        path[pid="0"] {fill: $red-color;}
        path[pid="1"] {fill: $white;}
    }
}

.endpoint-status-led {
    &.unregistered {background: $grey-color-light;}

    &.unavailable,
    &.no-results {
        &.unregistered {background: $grey-color;}
    }

    &.busy {background: $red-color;}

    &.available {background: $green-color;}

    &.ringing {
        animation: ringing-element .75s ease-in-out infinite;
        background-color: $red-color;
        box-shadow: rgba(saturate($red-color, 20%), 0.8) 0 0 10px;
    }
}
