@import "../../scss/base/variables";

.firefox .widget.contacts .widget-header .search {
    margin-top: 1px;
}

.widget.contacts {

    // The widget is marked as unauthorized.
    &.unauthorized {
        .widget-header {
            .search {
                display: none;
            }
        }
    }

    .widget-header {
        .search {
            flex: 1;
            height: $vg-widget-header-size;
            vertical-align: middle;
            line-height: $vg-widget-header-size;
            padding-right: $vg-widget-header-size - 5px;

            // The search icon inside the input element.
            i {
                position: absolute;
                margin-left: 8px;
                padding-top: 7px;
                height: $vg-widget-header-size;
                line-height: 30px;
                opacity: .3;
                vertical-align: middle;
                font-size: 1rem;
            }

            // The input element to search with.
            input {
                // Place the cursor to the right of the search icon.
                padding-left: $vg-widget-header-size-small;
                font-size: .9rem;
                width: 100%;
            }
        }
    }

    .widget-content {
        // A single contact item in the contacts list.
        .widget-item {
            &.hide {display: none;}
            .icon i {color: $vg-grey-light;}
            .icon.busy i {color: $vg-state-busy-color;}
            .icon.available i {color: $vg-state-available-color;}

            // Ringing state is a css keyframe animation.
            .icon.ringing i {
                transition-timing-function: ease;
                animation: ringing 1.5s linear infinite;
            }
        }
    }
}
