@import "../../scss/lib/variables";

.contacts-component {

    input {
        margin-bottom: $spacer * 2;
    }

    // A single contact item in the contacts list.
    .list-item.contact {
        display: flex;
        justify-content: space-between;
        padding: 8px;

        // In a call.
        &.disabled {
            cursor: not-allowed;
        }

        &:not(.disabled):hover {
            cursor: pointer;
        }

        .icon i {color: $grey-color;}
        .icon.busy i {color: $red-color;}
        .icon.available i {color: $green-color;}

        // Ringing state is a css keyframe animation.
        .icon.ringing i {
            transition-timing-function: ease;
            animation: ringing 1.5s linear infinite;
        }

        .info {
            flex-grow: 1;

            .name {
                font-weight: 500;
            }

            .description {
                color: $grey-darker;
            }
        }

        .options {
            .option {
                &:hover {
                    color: $brand-color;
                    cursor: pointer;
                }
            }
        }
    }

}
