@import "../../scss/lib/variables";

.contacts-component {
    // A single contact item in the contacts list.
    .list-item {
        &.contact {
            .icon-availability {
                color: $grey-color;

                &.busy {color: $red-color;}
                &.available {color: $green-color;}

                &.ringing {
                    // Ringing state is a css keyframe animation.
                    animation: ringing 1.5s linear infinite;
                    transition-timing-function: ease;
                }
            }
        }
    }
}
