@import "../../scss/lib/variables";

.contacts-component {

    input {
        margin-bottom: $spacer * 2;
    }

    // A single contact item in the contacts list.
    .list-item.contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .status-icon {
            i {
                color: $grey-color;
            }

            &.busy i {color: $red-color;}
            &.available i {color: $green-color;}

            // Ringing state is a css keyframe animation.
            &.ringing i {
                transition-timing-function: ease;
                animation: ringing 1.5s linear infinite;
            }
        }
    }
}
