@import "vialer-js/lib/variables";

.component-view-page {
    display: flex;
    flex-direction: column;
    max-width: 900px;

    pre {
        // background: none;
        margin: 0;
        overflow: visible;
        padding: $spacer;
    }

    p {
        margin: $spacer 0;
    }

    h1 {
        color: $brand-accent-color;
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    h2 {
        color: $brand-color;
        font-size: 1.7rem;
        font-weight: 500;
        margin-top: $spacer * 2;
    }

    h3 {
        color: $grey-color-darker;
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: $spacer;
        text-transform: uppercase;
    }

    h4 {
        color: $grey-color;
        font-size: 1.2rem;
    }

    strong {
        font-weight: 500;
    }

    .illustration {
        img {
            max-height: 300px;
        }
    }


    .steps-images {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: $spacer * 3 0;
        width: 100%;

        .cell {
            background-color: $grey-color-lightest;
            flex: 1 1 auto;
            padding: 10px;
            text-align: center;

            img {
                flex-grow: 1;
                max-height: 300px;
                max-width: 100%;
            }
        }
    }
}
