@import "../../scss/lib/variables";

.settings-component {
    background: none;

    .ringtone {
        align-items: flex-end;
        display: flex;
        // Use the Bulma margin-default on the container, instead of the field.
        margin-bottom: $size-7;

        .ringtone-select {
            margin-bottom: 0;
            margin-right: $spacer;
        }
    }

    // The switch is disabled, but use more opacity to indicate
    // that it's value is set from the browser.
    .webrtc-switch {
        input[type="checkbox"][disabled] {
            &:checked {
                + label {
                    opacity: 0.9;

                    &::before {
                        background: $green-color;
                    }
                }
            }

            &:not(:checked) {
                + label {
                    opacity: 0.9;

                    &::before {
                        background: $red-color;
                    }
                }
            }
        }
    }

    .microphone-popout.button {
        margin-top: $spacer;
    }

    .settings-actions {
        margin-top: $spacer * 3;
    }
}
