@import 'vialer-js/lib/variables';

.component-settings {
    background: none;
    width: 100%;

    .soundmeter {
        border: 1px solid $grey-color-lightest;
    }

    // The switch is disabled, but use more opacity to indicate
    // that it's value is set from the browser.
    .webrtc-switch {
        input[type='checkbox'][disabled] {
            &:checked {
                + label {
                    opacity: 0.9;

                    &::before {
                        background: $green-color;
                    }
                }
            }

            &:not(:checked) {
                + label {
                    opacity: 0.9;

                    &::before {
                        background: $red-color;
                    }
                }
            }
        }
    }

    // The container for the save button.
    .tabs-actions {
        margin-top: $spacer * 2;
    }
}
