@import "../../scss/lib/variables";

.component-queues {

    .queue {
        &:hover {
            cursor: pointer;
        }

        svg.icon-selected-queue {
            fill: $green-color;
            height: $spacer * 2.5;
            width: $spacer * 2.5;
        }

        .status-icon {
            text-align: center;
            vertical-align: center;

            // The queues icon is a somewhat deviant icons.
            // It is a background with inside text, instead
            // of a font.
            .indicator {
                border-radius: 100%;
                color: $white;
                font-size: 0.8rem;
                font-style: normal;
                font-weight: 500;
                height: $spacer * 3;
                letter-spacing: 0;
                line-height: $spacer * 3;
                vertical-align: center;
                width: $spacer * 3;
                // Centers the icon in the middle of the background.

                &.quiet {background: $green-color;}
                &.moderate {background: $yellow-color;}
                &.busy {background: $orange-color;}
                &.hectic {background: $red-color;}
            }
        }
    }

    .notification-box.info {
        margin: $spacer * 3;
        margin-bottom: $spacer * 3;
        margin-top: $spacer * 3;
    }

}
